.corp, .partnership, .terms {
  padding-top: 50px;
  padding-bottom: 50px;
  color: $mine_shaft;
}

.corp {
  padding-top: 0px;
  text-align: center;
  .title {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 40px;
  }
  .contents {
    font-size: 17px;
    line-height: 35px;
    padding: 90px 0px;
    .bold {
      font-size: 25px;
      line-height: 40px;
    }
    .orange {
      background-color: $orange_peel;
      color: $pure_white;
      padding: 0px 4px 4px 4px;
      font-weight: bold;
    }
  }
}

/* Style the generated markdown from 'react-markdown' */
.markdown {
  font-size: 15px;
  line-height: 30px;
}

.partnership {
  .title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-top: solid 2px $pure_black;
    padding: 20px 0px;
  }
  .contents {
    font-size: 15px;
    line-height: 30px;
  }
}

.terms {
  .title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-top: solid 2px #000;
    padding: 20px 0px;
  }
  .jang {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .contents {
    padding-left: 10px;
    .alpha {
      list-style-type: upper-alpha;
    }
    .square {
      list-style-type: square;
    }
  }
}

@media all and (max-width: 767px) {
  .corp, .partnership, .terms {
    padding-top: 10px;
  }
  .corp .title, .partnership .title, .terms .title {
    font-size: 25px;
    border-top: 0px;
    padding-top: 0px;
  }
  .corp .contents {
    font-size: 13px;
    line-height: 18px;
    padding: 40px 0px;
    .bold {
      font-size: 15px;
      line-height: 30px;
      font-weight: bold;
    }
  }
  .partnership .contents {
    font-size: 13px;
    line-height: 18px;
  }
}
