.account {
  background-color: $pure_white;
  color: $mine_shaft;
  .page-title {
    font-weight: bold;
    padding-bottom: 10px;
  }
  .page-desc {
    color: $scorpion;
    padding-bottom: 15px;
    font-weight: bold;
  }
  .form-box {
    max-width: 400px;
    border-top: 2px solid $mine_shaft;
    color: $scorpion;
    text-align: left;
    .info {
      font-size: 12px;
      line-height: 18px;
      color: $gray;
      text-align: center;
      padding-bottom: 20px;
      a {
        font-weight: bold;
        color: $scorpion;
      }
    }
  }
  .view-box {
    max-width: 500px;
    border-top: 2px solid $scorpion;
    color: $scorpion;
    text-align: center;
    .box {
      border: 5px solid $geyser;
      padding: 20px 0px;
      font-weight: bold;
    }
  }
  .footer-box {
    border-top: 1px solid $mine_shaft;
    padding-top: 20px;
    margin-top: 30px;
    > span {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
      &:last-child {
        font-size: 12px;
        color: $gray;
        padding-right: 0px;
      }
    }
  }
  .dark-btn {
    font-size: 15px;
    background-color: $outer_space;
    color: $pure_white;
    border-radius: 3px;
    font-weight: bold;
    padding: 5px 15px;
    border: 1px solid $outer_space;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    &:HOVER {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media all and (min-width: 768px) {
  .account {
    padding: 50px 0px;
    .page-title {
      font-size: 40px;
    }
    .page-desc {
      font-size: 14px;
    }
    .strong {
      font-weight: bold;
      font-size: 18px;
    }
    .form-box {
      padding: 30px 0px;
      font-size: 14px;
    }
    .view-box {
      padding: 50px 0px;
      font-size: 14px;
    }
    .footer-box > span:first-child {
      font-size: 18px;
    }
  }
}

@media all and (max-width: 767px) {
  .account {
    padding: 20px 0px;
    .page-title {
      font-size: 30px;
    }
    .page-desc {}
    .strong {
      font-weight: bold;
      font-size: 15px;
    }
    .form-box, .view-box {
      padding: 20px 0px;
    }
  }
}
