.banner-fit-container {
  @media all and(max-width: $break-content-container - 1) {
    width: 100%;
  }
  @media all and(min-width: $break-content-container) {
    width: $break-content-container;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 15px;
  }
}
.banner-full-container {
  width: 100vw;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 0;
  margin-top: 0;
}
.banner-item-web-image {
  @media all and(max-width: $break-xs - 1) {
    min-height: 200px;
  }
  @media all and(min-width: $break-xs) {
    min-height: 380px;
  }
}
.banner-item-mobile-image {
  @media all and(max-width: $break-xs - 1) {
    min-height: 90px;
  }
  @media all and(min-width: $break-xs) {
    min-height: 140px;
  }
}

.banner-item-container {
  left: 0;
  right: 0;
  display: inline-block;
  @media all and(max-width: $break-xs - 1) {
    position: relative;
  }
}
.banner-item-container-left {
  padding-right: 1px;
}
.banner-item-container-right {
  padding-left: 1px;
}
.banner-container {
  padding: 0px;
  @media all and(min-width: $break-xs) {
    margin: 0px;
  }
}
