.comments-container{
  height: auto;
  background-color: $pure_white;
  border: 1px solid $mercury;
  @media all and(min-width: $break-md) {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }
  @media all and(max-width: $break-md - 1) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
  .comment-text-input-container {
    @extend .flex-standard;
    width: 100%;
    align-items: center;
    flex-flow: column;
    justify-content: flex-start;
    align-content: stretch;
  }
  .comment-text-display {
    width: 100%;
    display: flex;
  }
  .comment-text-input-top-text {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    flex: 2 auto;
  }
  textarea {
    resize: none;
    min-width: 100%;
    background-color: $pure_white;
    outline: none;
    border: 1px solid $gray;
    @media all and(max-width: $break-sm - 1) {
      height: 50px;
      -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
      -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
      box-shadow: inset 2px 2px 2px 0px #dddddd;
      padding: 5px;
    }
    @media all and(min-width: $break-sm) {
      padding: 5px;
      -webkit-box-shadow: inset 3px 3px 3px 0px #dddddd;
      -moz-box-shadow: inset 3px 3px 3px 0px #dddddd;
      box-shadow: inset 3px 3px 3px 0px #dddddd;
      height: 100px;
    }
  }
  .comment-text-length-counter {
    font-size: 8pt;
    color: $gray;
    margin-bottom: 5px;
    flex: 1 auto;
    text-align: right;
    .red {
      color: red;
    }
  }
  .comment-text-input-controls {
    width: 100%;
    @extend .flex-standard;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
  }
  .comment-text-input {
    flex: 7 75%;
  }
  .comment-text-input-btn {
    flex: 0 auto;
    line-height: 45px;
    padding-bottom: 5px;
    .disabled {
      color: $dove_gray;
    }
    button {
      border-top: 1px solid $gray;
      border-right: 1px solid $gray;
      border-bottom: 1px solid $gray;
      border-left: 0px;
      background-color: $alabaster;
      @media all and(max-width: $break-sm - 1) {
        width: 50px;
        height: 50px;
      }
      @media all and(min-width: $break-sm) {
        width: 75px;
        height: 100px;
      }
      color: $vermilion
    }
  }
  .load-comments-btn-container {
    text-align: center;
    @media all and(max-width: $break-md - 1) {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    @media all and(min-width: $break-md) {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }
}
.comment-container {
  border-bottom: 1px solid $mercury;
  padding-top: 7.5px;
}
.comment-text-container {
  margin-left: 25px;
}
.comment-display-container {
  @extend .flex-standard;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 3px;
  margin-top: 3px;
  .comment-display-meta-info {
    flex: 1 auto;
    align-self: baseline;
    @media all and(max-width: $break-sm - 1) {
      font-size: 10px;
    }
    @media all and(min-width: $break-sm) {
      font-size: 14px;
    }
    display: inline-block;
    font-weight: 100;
    color: $gray;
  }
  .comment-display-badge {
    height: 25px;

    @media all and(max-width: $break-sm - 1) {
      height: 20px;
    }
  }
  .comment-display-profile-badge {
    flex: 0 auto;
    min-width: 25px;
    height: 100%;
    margin-left: 8px;
    align-self: flex-start;
    @media all and(max-width: $break-sm - 1) {
      min-width: 20px;
    }
  }
  .comment-display-profile-image-container {
    flex: 0 auto;
    min-width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-top: 8px;
    align-self: flex-start;
    .comment-display-profile-image {
      flex: 1 auto;
      width: 30px;
      height: 30px;
    }
  }
  padding-left: 0px;

    .comment-display {
      @extend .flex-standard;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      height: auto;
      @media all and(max-width: $break-xs - 1) {
        width: 90%;
      }
      @media all and (min-width: $break-xs) {
        width: 90%;
      }
      .comment-display-user-meta-container {
        display: flex;
        height: 25px;
        align-self: baseline;
        @media all and(max-width: $break-sm - 1) {
          height: 20px;
        }
      }
      .comment-display-meta {
        @extend .flex-standard;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
      .comment-display-username {
        flex: 1 auto;
        align-self: baseline;
        @media all and(max-width: $break-sm - 1) {
          font-size: 14px;
        }
        @media all and(min-width: $break-sm) {
          font-size: 18px;
        }
        font-weight: bold;
      }
      .comment-display-close-link {
        i {
          padding-right: 2px;
        }
        flex: 1 auto;
        cursor: pointer;
        @media all and(max-width: $break-sm - 1) {
          font-size: 10px;
          padding-left: 5px;
        }
        @media all and(min-width: $break-sm) {
          padding-left: 10px;
          font-size: 14px;
          display: inline-block;
          font-weight: 100;
          color: $pure-black;
        }
      }
    }
  }

  .comment-display-text-container {
    @extend .flex-standard;
    flex-flow: row;
    align-items: center;
    max-width: 100%;
    .comment-display-text {
      flex: 1 auto;
      word-wrap: break-word;
      max-width: 100%;
      white-space: pre-wrap;
      word-break: break-word;
      @media all and(max-width: $break-sm - 1) {
        font-size: 12px;
        margin-top: 5px;
      }
      @media all and(min-width: $break-sm) {
        font-size: 15px;
        margin-top: 10px;
      }
    }
    .comment-display-text-deleted {
      border: 1px solid $silver;
      background: $wild_sand;
      padding: 5px;
      font-style: italic;
      color: $gray;
    }
  }
}
.comment-control-btn {
  display: inline-block;
  margin-right: 10px;
}
.comment-display-edit-btn,.comment-display-delete-btn,.comment-display-reply-btn {
  i {
    padding-right: 2px;
    color: $vermilion;
  }
  flex: 1 auto;
  cursor: pointer;
  display: inline-block;
  color: $pure-black;
  @media all and(max-width: $break-sm - 1) {
    font-size: 10px;
    padding-left: 5px;
  }
  @media all and(min-width: $break-sm) {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 100;
  }
}
.load-replies-btn {
  margin-bottom: 10px;
  margin-left: 13px;
  i {
    padding-right: 3px;
    color: $vermilion;
  }
}
.load-comments-btn {
  i {
    padding-right: 3px;
    color: $vermilion;
  }
}
.replies-container {
  margin-top: 10px;
}
