body {
  min-width: 320px;
  /*color: #262626;*/
  background: $pure_white;
  font-size: 13px;
  font-family: Helvetica, Verdana, Arial, Geneva, sans-serif;
  /*max-width:1980px;*/
  border: 1px solid $gallery;
}

a {
  cursor: pointer;
  &:hover {}
}

.icon-on {
  background-color: $vermilion;
  color: $pure_white;
  border-radius: 10px;
  font-size: 13px;
  padding: 1px 12px 2px 12px;
}

.icon-off {
  background-color: $scorpion;
  color: $pure_white;
  border-radius: 10px;
  font-size: 13px;
  padding: 1px 12px 2px 12px;
}

.pointer {
  cursor: pointer;
}

.modal-content {
  margin-top: 150px;
}

.admin-replay {
  padding-top: 5px;
  textarea {
    width: 70%;
    height: 55px;
    max-width: 80%;
    vertical-align: top;
    padding: 5px;
    display: inline-block;
  }
  button {
    width: 100px;
    height: 55px;
    font-size: 14px;
    font-weight: bold;
    /*color:#ff4800;*/
    display: inline-block;
  }
}

.orange-btn {
  font-size: 15px;
  background-color: $vermilion;
  color: $pure_white;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid $vermilion;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  &.full {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    padding: 0px;
  }
  &.size18 {
    height: 40px;
    font-weight: bold;
    font-size: 18px;
  }
  &.bold {
    font-weight: bold;
  }
  &.dark {
    background-color: $outer_space;
    border: 1px solid $outer_space;
  }
  &:HOVER {
    text-decoration: underline;
    cursor: pointer;
    color: $pure_white;
    /*opacity:0.9*/
  }
}

.dark-btn {
  font-size: 15px;
  background-color: $outer_space;
  color: $pure_white;
  border-radius: 3px;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid $outer_space;
  &.full {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    padding: 0px;
  }
  &:HOVER {
    text-decoration: none;
    cursor: pointer;
    color: $pure_white;
  }
}

.share-area .share_btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 6px;
  overflow: hidden;
  background-size: cover;
  &:last-child {
    margin-right: 0px;
  }
  &.ameblo {
    background-image: $ameblo_png;
  }
  &.baidu {
    background-image: $baidu_png;
  }
  &.naver_band {
    background-image: $naver_band_png;
  }
  &.facebook {
    background-image: $facebook_png;
  }
  &.google_plus {
    background-image: $google_plus_png;
  }
  &.hatena {
    background-image: $hatena_png;
  }
  &.kakao_story {
    background-image: $kakao_story_png;
  }
  &.naver_line {
    background-image: $naver_line_png;
  }
  &.mixi {
    background-image: $mixi_png;
  }
  &.pinterest {
    background-image: $pinterest_png;
  }
  &.qq {
    background-image: $qq_png;
  }
  &.qzone {
    background-image: $qzone_png;
  }
  &.reddit {
    background-image: $reddit_png;
  }
  &.sina {
    background-image: $sina_png;
  }
  &.tencent {
    background-image: $tencent_png;
  }
  &.twitter {
    background-image: $twitter_png;
  }
  &.wechat {
    background-image: $wechat_png;
  }
}

@media all and (max-width: 767px) {
  .share-area {
    text-align: center;
    .share_btn {
      margin-right: 5px;
    }
  }
}

.back-nav-container {
  text-align: right;
  @media all and (max-width: $break-xs - 1) {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    font-size: 14px;
  }
  @media all and(min-width: $break-xs) and(max-width: $break-sm - 1) {
    height: 70px;
    padding-top: 25px;
    padding-bottom: 24px;
    font-size: 18px;
  }
  a {
    color: $pure_black;
  }
}
.common-container {
  margin-top: 15px;
  height: auto;
  @media all and(min-width: $break-md) {
    width: $break-content-container;
  }
  @media all and(max-width: $break-xs - 1) {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@mixin multi_line_ellipsis($lines: 2, $line-height: 1.6em) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;

  overflow: hidden;
  position: relative;
  line-height: $line-height;
  max-height: $line-height * $lines;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    @media all and(max-width: $break-xs - 1) {
      bottom: 0;
      right: 10px;
    }
    @media all and(min-width: $break-xs) {
      bottom: 0;
      right: 17px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    @media all and(max-width: $break-xs - 1) {
      right: 9px;
    }
    @media all and(min-width: $break-xs) {
      right: 14px;
    }
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }
  @supports (-webkit-line-clamp: 2) {
    &:before, &:after {
      display: none;
    }
  }
}
