.content-index-container {
  @extend .common-container;
  a { text-decoration: none; }
}
.content-index-content-container {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: $pure_white;
  margin-bottom: 20px;
}
.content-index-more-btn-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
  button {
    color: $pure-white;
  }
}
.content-index-content-img-container {
  img {
    -mox-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border: 1px $pure_white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
  }
}
.content-index-content-info-container {
  padding: 0px;
  margin-top: 20px;
}
.content-index-content-info-subject-text {
  @extend .text-pure-black,.text-bold;
  @media all and(max-width: $break-xs - 1) {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media all and(min-width: $break-xs) {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.content-index-content-info-description-container {
  margin-top: 15px;
}
.content-index-content-info-description-text {
  @extend .text-normal, .text-scorpion;
  white-space: pre-wrap;
  @media all and(max-width: $break-xs - 1) {
    font-size: 13px
  }
  @media all and(min-width: $break-xs) {
    font-size: 15px;
  }
  padding-left: 15px;
  padding-right: 15px;
}
.content-index-content-info-author-date-container {
  height: 60px;
  display: table;
  margin-bottom: 13px;
}
.content-index-content-info-author-text {
  @extend .text-bold, .text-scorpion;
  @media all and(max-width: $break-xs - 1) {
    font-size: 11px;
    padding-left: 15px;
  }
  @media all and(min-width: $break-xs) {
    font-size: 15px;
    padding-left: 20px;
  }
  display: table-cell;
  vertical-align: middle;
}
.content-index-content-info-date-text {
  @extend .text-normal, .text-scorpion;
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
  @media all and(max-width: $break-xs - 1) {
    font-size: 11px;
  }
  @media all and(min-width: $break-xs) {
    font-size: 15px;
  }
}
.content-index-content-tag-container {
  display: table;
  border-top: 1px solid $mercury;
  width: 100%;
  @media all and(max-width: $break-xs - 1) {
    height: 30px;
  }
  @media all and(min-width: $break-xs) {
    height: 40px;
  }
  .content-index-tags {
    @media all and(max-width: $break-xs - 1) {
      padding-bottom: 9px;
      padding-top: 9px;
      padding-left: 15px;
    }
    @media all and(min-width: $break-xs) {
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 20px;
    }
  }
  .tag-icon {
    display: table-cell;
    vertical-align: middle;
    background-image: $tag_png;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center left;
    padding: 0px;
    @media all and(max-width: $break-xs - 1) {
      background-size: 15px 8px;
      width: 15px;
      height: 8px;
    }
    @media all and(min-width: $break-xs) {
      background-size: 20px 12px;
      width: 20px;
      height: 12px;
    }
  }
  .tag-text {
    @extend .text-normal;
    @extend .text-scorpion;
    padding-left: 5px;
    vertical-align: middle;
    display: table-cell;
    @media all and(max-width: $break-xs - 1) {
      font-size: 9px;
    }
    @media all and(min-width: $break-xs) {
      font-size: 14px;
    }
  }
}
.content-show-content-container {
  margin-top: 15px;
  @media all and(min-width: $break-md) {
    width: $break-content-container;
  }
  @media all and(max-width: $break-xs - 1) {
    margin-right: 0px;
    margin-left: 0px;
  }
}
.content-show-content {
  @media all and(max-width: $break-xs - 1) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.content-show-header-container {
  background-color: $pure-white;
  @media all and(max-width: $break-xs - 1) {
    margin-bottom: 10px;
  }
  @media all and(min-width: $break-xs) {
    margin-bottom: 0px;
    border-top: 1px solid $mercury;
    border-left: 1px solid $mercury;
    border-right: 1px solid $mercury;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}
.content-show-header-subject-text {
  @extend .text-bold,.text-pure-black;
  @media all and(max-width: $break-xs - 1) {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
  }
  @media all and(min-width: $break-xs) {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media all and(min-width: $break-sm) {
    font-size: 22px;
  }
}
.content-show-header-description-container {
  white-space: pre-wrap;
  border-bottom: 1px solid $mercury;
}
.content-show-header-description-text {
  @extend .text-normal,.text-scorpion;
  white-space: pre-wrap;
  @media all and(max-width: $break-xs - 1) {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media all and(min-width: $break-xs) {
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media all and(min-width: $break-sm) {
    font-size: 17px;
  }
}
.content-show-header-author-date-container {
  display: table;
  @media all and(max-width: $break-xs - 1) {
    height: 20px;
    padding-top: 7.5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media all and(min-width: $break-xs) {
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
  }
}
.content-show-header-author-text {
  @extend .text-bold,.text-scorpion;
  display: table-cell;
  vertical-align: middle;
  @media all and(max-width: $break-xs - 1) {
    padding-right: 10px;
    font-size: 13px;
  }
  @media all and(min-width: $break-xs) {
    padding-right: 30px;
    font-size: 14px;
  }
  @media all and(min-width: $break-sm) {
    font-size: 15px;
  }
}
.content-show-header-date-text {
  @extend .text-normal,.text-scorpion;
  display: table-cell;
  vertical-align: middle;
  @media all and(max-width: $break-xs - 1) {
    font-size: 13px;
  }
  @media all and(min-width: $break-xs) {
    font-size: 14px;
  }
  @media all and(min-width: $break-sm) {
    font-size: 15px;
  }
}
.content-show-header-tag-container {
  border-top: 1px solid $mercury;
  border-bottom: 1px solid $mercury;
  @media all and(max-width: $break-xs - 1) {
    min-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  @media all and(min-width: $break-xs) {
    padding-top: 16px;
    padding-bottom: 16px;
    min-height: 40px;
  }
  .content-show-content-tag {
    display: table;
    @media all and(max-width: $break-xs - 1) {
      padding-left: 15px;
    }
    @media all and(min-width: $break-xs) {
      padding-left: 30px;
    }
  }
  .tag-icon {
    display: table-cell;
    vertical-align: middle;
    background-image: $tag_png;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center left;
    padding: 0px;
    @media all and(max-width: $break-xs - 1) {
      background-size: 15px 8px;
      width: 15px;
      height: 8px;
    }
    @media all and(min-width: $break-xs) {
      background-size: 20px 12px;
      width: 20px;
      height: 12px;
    }
  }
  .tag-text {
    @extend .text-normal;
    @extend .text-scorpion;
    padding-left: 5px;
    vertical-align: middle;
    display: table-cell;
    @media all and(max-width: $break-xs - 1) {
      font-size: 9px;
    }
    @media all and(min-width: $break-xs) {
      font-size: 14px;
    }
  }
}
.content-show-iframe-container {
  width: 100%;
  margin-bottom: 10px;
  @media all and(min-width: $break-xs) {
    border-bottom: 1px solid $mercury;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  iframe {
    width: 100%;
    border: none;
  }
}
.content-show-authorblurb-container {
  width: 100%;
  background-color: $pure-white;
  display: table;
  border-bottom: 1px solid $mercury;
  border-top: 1px solid $mercury;
  @media all and(max-width: $break-xs - 1) {
    min-height: 75px;
  }
  @media all and(min-width: $break-xs) {
    min-height: 150px;
    border-left: 1px solid $mercury;
    border-right: 1px solid $mercury;
    border-radius: 5px;
  }
}
.content-show-authorblurb-image-name-container {
  width: 100%;
  border-bottom: 1px solid $mercury;
  @media all and(min-width: $break-xs) {
    min-height: 70px;
  }
}
.content-show-authorblurb-image-container {
  @media all and(max-width: $break-xs - 1) {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media all and(min-width: $break-xs) {
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
  }
  display: table-cell;
  vertical-align: middle;
  width: 30px;
  .content-show-authorblurb-image {
    width: 30px;
    height: 30px;
  }
}
.content-show-authorblurb-name-container {
  display: table-cell;
  vertical-align: middle;
  @media all and(max-width: $break-xs - 1) {
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media all and(min-width: $break-xs) {
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .content-show-authorblurb-name-text {
    @extend .text-bold,.text-pure-black;
    margin-bottom: 0px;
    @media all and(max-width: $break-xs - 1) {
      font-size: 13px;
    }
    @media all and(min-width: $break-xs) {
      font-size: 18px;
    }
    @media all and(min-width: $break-sm) {
      font-size: 17px;
    }
  }
}
.content-show-authorblurb-description-container {
  padding-top: 10px;
  .content-show-authorblurb-description-text {
    @extend .text-scorpion,.text-normal;
    white-space: pre-wrap;
    @media all and(max-width: $break-xs - 1) {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 11px;
    }
    @media all and(min-width: $break-xs) {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 14px;
    }
    @media all and(min-width: $break-sm) {
      font-size: 15px;
    }
  }
}
.content-show-header-sns-share-container {
  margin-top: 0px;
  width: 100%;
  @media all and(max-width: $break-xs - 1) {
    padding-left: 10px;
  }
  @media all and(min-width: $break-xs ) {
    border-bottom: 1px solid $mercury;
    padding-left: 25px;
  }
}
