.event {
  padding-top: 50px;
  padding-bottom: 50px;
  .title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
    text-align: left;
  }
  .section {
    padding-bottom: 20px;
  }
  .comments {
    table {
      width: 100%;
      margin: 10px 0px;
      .title {
        padding-bottom: 5px;
        color: $tundora;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
      }
      .info {
        padding-bottom: 5px;
        color: $gray;
        font-size: 12px;
        text-align: right;
        vertical-align: bottom;
      }
      td:last-child {
        width: 100px;
      }
      textarea {
        width: 100%;
        height: 100px;
        max-width: 100%;
        vertical-align: top;
        padding: 5px;
      }
      button {
        width: 100%;
        height: 100px;
        font-size: 16px;
        font-weight: bold;
        color: $vermilion;
      }
      .require-login {
        font-size: 16px;
        color: $scorpion;
        padding: 20px 0px;
        border: 1px solid $silver_chalice;
        text-align: center;
      }
    }
    .section {
      border-bottom: 1px dotted $gallery;
      padding: 15px 0px;
      .profile-area {
        display: table-cell;
        vertical-align: top;
        padding-right: 15px;
        > img {
          width: 50px;
          height: 50px;
        }
      }
      .comment-area {
        display: table-cell;
        vertical-align: top;
        font-size: 14px;
        color: $scorpion;
        width: 100%;
        word-break: break-word;
        .writer {
          padding: 5px 0px;
          > span:first-child {
            font-size: 16px;
            color: $tundora;
            font-weight: bold;
            padding-right: 5px;
          }
        }
        .replay {
          padding: 5px 15px 10px 15px;
          background-color: $alabaster;
          margin-top: 10px;
        }
      }
    }
    .seemore {
      text-align: center;
      padding-top: 20px;
      > button {
        width: 85px;
        height: 35px;
        background-color: $pure_white;
        border: 1px solid $outer_space;
        color: $tundora;
        border-radius: 3px;
        font-weight: bold;
        &:hover {
          background-color: $outer_space;
          color: $pure_white;
        }
      }
    }
  }
}

@media all and (min-width: 992px) {}

@media all and (min-width: 768px) and (max-width: 991px) {}

@media all and (max-width: 767px) {
  .event .comments {
    table {
      .require-login {
        font-size: 14px;
      }
      td:last-child {
        width: 70px;
      }
      textarea {
        height: 70px;
      }
      button {
        height: 70px;
        font-size: 14px;
      }
    }
    .section {
      padding: 10px 0px;
      .profile-area {
        padding-right: 10px;
        > img {
          width: 35px;
          height: 35px;
        }
      }
      .comment-area {
        font-size: 12px;
        .writer {
          padding: 10px 0px;
          > span:first-child {
            font-size: 13px;
            font-weight: bold;
            padding-right: 5px;
          }
        }
        .replay {
          padding: 0px 10px 5px 10px;
          background-color: $alabaster;
          margin-top: 5px;
        }
      }
    }
  }
}
