.filter-filter {
  margin-top: 23px;
  margin-bottom: 20px;
}

.filter-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-link {
  height: 40px;
  font-weight: 200;
  padding-right: 5px;
  @media all and(max-width: $break-xs - 1) {
    font-size: 10pt;
    margin-left: 5px;
  }
  @media all and(min-width: $break-xs) and(max-width: $break-sm - 1) {
    font-size: 12pt;
    margin-left: 5px;
  }
  @media all and(min-width: $break-sm) {
    margin-left: 5px;
    font-size: 12pt;
    padding-left: 15px;
    padding-right: 15px;
  }
  border-right: 2px solid $silver;
  color: $gray;
  &:hover {
    color: $vermilion;
  }
}
.filter-link-selected {
  font-weight: bold;
  color: $vermilion;
  pointer-events: none;
  cursor: default;
}
.filter-last-link {
  border-right: 2px;
}
