:lang(ja), :lang(en), :lang(ko), :lang(zh) {
  -webkit-font-smoothing: initial;
  text-rendering: initial;
}

:lang(ja) {
  font-family: Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "MS Pゴシック", "MS PGothic", Helvetica, sans-serif;
  i {
    font-family: FontAwesome;
  }
}

:lang(en) {
  font-family: "Helvetica";
  i {
    font-family: FontAwesome;
  }
}

:lang(ko) {
  font-family:  "나눔고딕", "Nanum Gothic", "애플고딕", AppleSDGothicNeo, "나눔바른고딕", NanumBarunGothic, "맑은고딕", "Malgun Gothic", '돋음', Dotum, Helvetica, sans-serif;
  i {
    font-family: FontAwesome;
  }
}

:lang(zh) {
  font-family: Helvetica, "Hiragino Sans GB", "冬青黑体", "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  i {
    font-family: FontAwesome;
  }
}
