.footer {
  background: $cod_gray;
  color: $scorpion;
  padding: 30px 0px 20px 0px;
  .container {
    @media all and(min-width: $break-sm) {
      width: 1140px;
      margin: auto;
    }
  }
  .row {
    margin: 0;
  }
  .footer-menu {
    padding: 0;
  }
  .nav-pills > li {
    @media all and(max-width: $break-xs - 1) {
      display: inline-block;
      text-align: center;
      width: 49%;
    }
  }
  .nav li > a {
    color: $gray12;
    font-size: 10pt;
    padding: 14px 0 0 15px;
    &:hover {
      background-color: transparent;
      opacity: .5;
    }
  }

  .nav li > a > span {
    border-right: 1px solid $gray;
    padding-right: 15px;
    font-weight: 300;
    @media all and(max-width: $break-xs - 1) {
      border: none;
    }
  }

  .nav li:last-child > a > span {
    border: none;
  }

  .social-networks {
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      margin-bottom: 30px;
      padding: 0;
      @media all and(max-width: $break-xs - 1) {
        text-align: center;
        padding: 0 30px;
      }
      .social-networks-text {
        @media all and(max-width: $break-xs - 1) {
          text-align: center;
        }
      }
      div > a {
        @media all and(max-width: $break-xs - 1) {
          width: 33%;
          display: inline-block;
        }
      }
      div > a > img {
        margin: 0px 20px 0 0;
        @media all and(max-width: $break-xs - 1) {
          margin: 20px 20px 0;
        }
      }
      div > a > img:hover {
        opacity: .5;
      }
  }

  .address {
    border-top: 1px solid darken($cod_gray,10%);
    padding-top: 30px;
  }

  .address > div {
    margin-top: 5px;
  }

  .top {
    width: 38px;
    height: 38px;
    outline: 0px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0.75;
    background: url('/images/icon/arrow_top.png');
    text-indent: -999999px;
    cursor: pointer;
    z-index: 99999;
    &:hover {
      opacity: 0.99;
    }
  }
}
