.header {
  margin-bottom: 6px;
  z-index: 999;
  background-image: none;
  background-color: $pure_white;
  box-shadow: none;
  border-radius: 0px;
  border-color: $silver;
  border-width: 0px 0px 1px 0px;
  font-family:  sans-serif, Verdana, Arial, Helvetica Geneva;
  min-height: 60px;
  .container {
    @media all and(min-width: $break-xs) {
      width: 100%;
    }
    @media all and(min-width: $break-md) {
      width: $break-content-container;
      margin:auto;
    }
  }
  .navbar-collapse {
    border-color: $pure_white;
  }
  .navbar-toggle {
    float: left;
    margin-left: 15px;
  }
  .navbar-header {
    padding-right: 20px;
    .navbar-toggle {
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 10px;
      &:hover {
        background-color: transparent;
      }
    }
    .navbar {
      position: relative;
    }
    .logo-container {
      padding: 12px;
      @media all and(max-width: 767px) {
        position: absolute;
        left: 50%;
        margin-left: -77px !important;
        display: block;
        top: -15px;
      }
    }
    .logo {
      width: 129px;
      height: 35px;
      @media all and(max-width: 767px) {
        margin-top: 18px;
        max-height: 37px;
      }
    }
    .nav-btn {
      @media all and(max-width: 767px) {
        float: left !important;
      }
      @media all and(min-width: 768px) {
        visibility: hidden;
      }
    }
    .nav-btn-opened {
      padding: 0 10px;
      &:before {
        font-family: "FontAwesome";
        content: "\f00d";
        font-size: 24px;
        margin: 0;
        padding: 0;
      }
    }
    .nav-btn-opened > span {
      display: none;
    }
  }
  .navbar-nav {
    .dropdown {
      padding-top: 10px;
    }
    .dropdown-toggle {
      img {
        width: 32px;
        height: 32px;
        border-radius: 20px;
      }
    }
    li > a {
      padding: 10px;
      font-size: 15px;
      @media all and(max-width: $break-xs - 1) {
        padding: 10px 30px;
      }
      &:hover {
        color: $orange_peel;
      }
    }
    .nav-profile {
      img {
        width: 32px;
        height: 32px;
        border-radius: 20px;
      }
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .button-toolbar {
    padding: 14px 0 14px 25px;
  }

  .button-group > button {
    margin-right: 10px;
    padding: 10px 8px;
  }

  .button-active {
    background: $armadillo;
    color: $pure_white;
  }

  .nav-locale {
    padding-top: 14px;
    display: block;
    float: left;
  }

  .nav-locale > li > a {
    text-decoration: none;
    color: $gray11;
  }

  .navbar-nav > li {
    padding-top: 14px;
    font-weight: normal;
  }

  .navbar-right > li > a,
  .navbar-right > .nav-locale > li > a {
    font-weight: 200;
  }
}
