.faq {
  padding: 50px 0px;
  color: $mine_shaft;
  .doc-section {
    margin-bottom: 60px;
    > {
      h1 {
        color: $crusta;
        font-size: 25px;
        font-weight: bold;
      }
      ol {
        color: lighten($tundora,5.1%);
        font-size: 20px;
        h2 {
          color: lighten($tundora,5.1%);;
          font-size: 20px;
          font-weight: bold;
        }
        p {
          color: $scorpion;
          font-size: 15px;
          line-height: 1.6;
        }
      }
    }
  }
  .doc-side-nav {
    margin-top: 20px;
    padding: 10px 20px;
    width: 240px;
    top: 80px;
    border: solid 1px $mercury;
    color: $scorpion;
    background-color: $pure_white;
    z-index: 999;
    > {
      h1 {
        color: lighten($tundora,5.1%);
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-bottom: solid 2px lighten($tundora,5.1%);
        font-size: 19px;
        line-height: 19px;
        font-weight: bold;
      }
      ul {
        padding: 0px 15px;
        > li {
          margin-bottom: 10px;
          > a {
            padding: 0px;
            color: $scorpion;
            background-color: transparent;
            &:hover {
              color: $crusta;
            }
          }
          &.active > a {
            color: $crusta;
            font-weight: bold;
            &:after {
              content: '';
              display: block;
              position: absolute;
              width: 7px;
              height: 7px;
              top: 5px;
              left: -14px;
              border-top: solid 1px $crusta;
              border-right: solid 1px $crusta;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .faq {
    padding: 20px 0px;
    .doc-section {
      margin-bottom: 40px;
      > ol {
        font-size: 15px;
        h2 {
          font-size: 15px;
        }
        p {
          font-size: 13px;
          /*line-height:1.6;*/
        }
      }
    }
  }
}
