.index-header-container {
  background-color: $pure-white;
  padding-bottom: 20px;
}

.index-header {
  @media all and(max-width: $break-xs - 1) {
    width: 100%;
  }
  @media all and(min-width: $break-xs) and (max-width: $break-sm - 1) {
    width: 750px;
    margin: auto;
  }
  @media all and(min-width: $break-sm) and(max-width: $break-md - 1) {
    width: 970px;
    margin: auto;
  }
  @media all and(min-width: $break-md) {
    width: $break-content-container;
    margin: auto;
  }
}

.index-header-title {
  font-weight: 400;
  margin-left: 15px;
  @media all and(max-width: $break-xs - 1) {
    font-size: 20pt;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 15px;
  }
  @media all and(min-width: $break-xs) and(max-width: $break-sm - 1) {
    font-size: 25pt;
    margin-top: 15px;
  }
  @media all and(min-width: $break-sm) {
    font-size: 32pt;
    font-weight: 400;
    margin-top: 15px;
  }
  margin-left: 15px;
  font-weight: bold;
  color: $scorpion;
  padding: 0px;
}
.index-header-subtitle {
  @media all and(max-width: $break-xs - 1) {
    font-size: 9.5pt;
    font-weight: 300;
  }
  @media all and(min-width: $break-xs) and(max-width: $break-sm - 1) {
    font-size: 15pt;
    font-weight: 300;
  }
  @media all and(min-width: $break-sm) {
    font-size: 15pt;
    font-weight: 500;
  }
  margin-left: 15px;
  color: $gray;
  padding: 0px;
}

