.index-container {
  @extend .common-container;
  margin-top: 0px;
  /**
   * min-height set to a fixed height to prevent row from collapsing when reloading the page.
   * e.g. Collapse issue previously visible when switching between languages or refreshing the page.
   */
  .row {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 25px;
    min-height: 400px;
    @media all and(min-width: $break-xs) and(max-width: $break-sm - 1) {
      min-height: 330px;
    }
    @media all and(max-width: $break-xs - 1) {
      min-height: 320px;
    }
  }
  @media all and(min-width: $break-xs) and(max-width: $break-sm - 1) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.index-section-title-text {
  color: $armadillo2;
  font-size: 21px;
  font-weight: bold;
}
.index-section-latest-poll-container {
  margin-bottom: 54px;
}
.index-section-all-content-title-all-btn-container {
  @media all and(max-width: $break-xs - 1) {
    padding-top: 15px;
    padding-left: 15px;
  }
  @media all and(min-width: $break-xs) {
    padding-top: 20px;
    padding-bottom: 1px;
    margin-bottom: 14px;
  }
}
.index-section-title-all-btn-container {
  @media all and(max-width: $break-xs - 1) {
    padding-top: 15px;
    padding-left: 15px;
  }
  @media all and(min-width: $break-xs) {
    padding-left: 0px;
    width: 100%;
    padding-bottom: 1px;
  }
}
.index-section-contents-poll-container {
  background: $pure_white;
  margin-top: 29px;
}
.index-section-all-container {
  .index-section-all-container-link {
    color: $gray13;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    &:hover {
      color: $orange_peel;
    }
  }
  .index-section-all-container-link:hover .index-section-title-all-btn-container {
    color: $scorpion;
    background: $gallery;
    padding-top: 0px;
  }
  .index-section-all-container-link > chevrons > i {
    -webkit-text-stroke: 1px $alabaster; //makes the icon thinner
  }
  @media all and(min-width: $break-xs) {
    font-size: 16px;
  }
}

.index-section-all-btn-container {
  display: inline-block;
  @media all and(max-width: $break-xs - 1) {
    padding-top: 3px;
  }
  @media all and(min-width: $break-xs) {
    padding-top: 10px;
  }
}
.index-section-title-all-container,
.index-section-title-all-btn-container-xs {
  margin-bottom: 14px;
}
.index-section-title-all-btn-container-xs {
  margin-top: 0px;

  .pull-right {
    padding-top: 4px;
  }
}
.index-section-title-container {
  display: inline-table;
  display: -webkit-inline-box;
  margin-bottom: -4px;
}
.index-section-all-btn {
  color: $pure_white;
  background-color: $flush_orange;
  text-decoration: none;
  border-color: $flush_orange;
  @media all and(max-width: $break-xs - 1) {
    font-size: 15px;
  }
  @media all and(min-width: $break-xs) {
    font-size: 16px;
    font-weight: 700;
    padding: 2px 7px 4px 7px;
  }
  &:hover {
    background-color: $flush_orange;
    border-color: $flush_orange;
    color: $pure_white;
  }
}
.index-projects-container {
  margin-top: 17px;
  a { text-decoration: none; }
  //width: $break-content-container;
}
.index-projects-container-border-box {
  height: 337px;
  position: absolute;
  width: 97%;
  box-shadow: 0px -1px 0px 0px #E5E5E5, 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  background-color: $pure_white;
}
.index-project-row {
  margin-left: 0px;
  margin-right: 0px;
}
.index-project {
  white-space: pre-wrap;
  display: inline-block;
  height: 100%;
  width: 33.3%;
  padding: 0px;
  position: relative;
  min-height: 1px;
  float: left;
  .project-index-thumbnail-img {
    max-height: 272px;
  }
}
.index-projects-container-xs {
  overflow-x: auto;
  width: auto;
  height: 345px;
  white-space: nowrap;
  position: relative;
  -webkit-transform: translate3d(0,0,0);
  -webkit-overflow-scrolling: touch;
  margin: 0 -15px 0 0;
  .index-project-xs {
    display: inline-block;
    padding-right: 10px;
    width: 240px;
    position: relative;
    .project-index-project-info-name {
      white-space: pre-wrap;
    }
    .project-index-project-container {
      margin-bottom: 10px;
    }
  }
  .project-index-thumbnail-img {
    min-height: 166px;
    max-height: 172px;
  }
}
.index-projects-arrow-container {
  position: absolute;
  display: inline-block;
  margin: 0;
  height: 100%;
  width: 30px;
  z-index: 10;
}
.index-projects-arrow-left {
  display: inline-block;
  position: absolute;
  float: left;
  top: 40%;
  left: 0;
  height: 70px;
  width: 30px;
  z-index: 10;
  background-image: url('/public/images/icon/index/icon-pre.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.index-projects-arrow-right {
  display: inline-block;
  position: absolute;
  float: right;
  top: 40%;
  right: 0;
  height: 70px;
  width: 30px;
  z-index: 10;
  background-image: url('/public/images/icon/index/icon-next.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.index-projects-scrollable-xs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.index-projects-updates-container {
  height: 360px;
  @media all and(max-width: $break-sm - 1) {
    height: 288px;
  }
  @media all and(max-width: $break-xs - 1) {
    margin-right: -15px;
  }
}
.index-content-item-container {
  display: inline-block;
  float: left;
  @media all and(max-width: $break-xs - 1) {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  @media all and(min-width: $break-xs) {
    width: 33.3%;
    padding-right: 3px;
    padding-left: 3px;
    height: 200px;
    min-height: 200px;
  }
  .index-content-item-img-container {
    height: 200px;
  }
}
.index-content-item-title-container {
  background-color: $pure_white;
  color: $pure_black;
  box-shadow: 1px 1.7px 5px rgba(0,0,1,0.1);
  word-break: break-word;
  text-overflow: hidden;
  overflow: hidden;
  @media all and(max-width: $break-xs - 1) {
    padding: 15px;
  }
  @media all and(min-width: $break-xs) {
    padding-left: 12px;
    padding-right: 9px;
    padding-bottom: 16px;
    padding-top: 16px;
    height: 65px;
  }
}
.index-content-item-title-text {
  overflow: hidden;
  @media all and(max-width: $break-xs) {
    @include multi_line_ellipsis(3,1.5em);
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    vertical-align: middle;
    margin: 0;
  }
  @media all and(min-width: $break-xs) {
    @include multi_line_ellipsis(2,1.2em);
    font-size: 16px;
  }
}
.index-content-item-image {
  width: 100%;
  box-shadow: 1px 1.7px 5px rgba(0,0,1,0.1);
  height: 200px;
}
.index-contents-container {
  margin-top: 15px;
}
.index-contents-container-xs {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  a { text-decoration: none; }
}
.index-contents-container:after {
  content: "";
  display: block;
  clear: both;
}
.index-poll-item-container {
  display: inline-block;
  @media all and(max-width: $break-xs - 1) {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 5px;
  }
  @media all and(min-width: $break-xs) {
    width: 33.3%;
    padding-right: 3px;
    padding-left: 3px;
    height: 200px;
    min-height: 200px;
  }
  .index-poll-item-img-container {
    height: 200px;
  }
  .index-poll-item-img-container > div {
    background-position: top;
  }
}
.index-item-first {
  float: left;
}
.index-item-last {
  float: left;
}
.index-poll-item-title-container {
  background-color: $pure_white;
  color: $pure_black;
  box-shadow: 1px 1.7px 5px rgba(0,0,1,0.1);
  word-break: break-word;
  text-overflow: hidden;
  overflow: hidden;
  @media all and(max-width: $break-xs - 1) {
    padding: 15px;
  }
  @media all and(min-width: $break-xs) {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-top: 16px;
    height: 65px;
  }
}
.index-poll-item-title-text {
  overflow: hidden;
  margin: 0;
  @media all and(max-width: $break-xs - 1) {
    @include multi_line_ellipsis(3,1.5em);
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    vertical-align: middle;
  }
  @media all and(min-width: $break-xs) {
    @include multi_line_ellipsis(2,1.2em);
    font-size: 16px;
  }
}
.index-poll-item-overlay-text {
  color: $pure_white;
  text-shadow: 1px 1px $gray;
  @media all and(max-width: $break-xs - 1) {
    padding: 5px;
    font-size: 14px;
  }
  @media all and(min-width: $break-xs) {
    padding: 10px;
    font-size: 16px;
  }
}
.index-poll-item-image {
  width: 100%;
  box-shadow: 1px 1.7px 5px rgba(0,0,1,0.1);
  height: 200px;
}
.index-poll-container {
  height: 400px;
  margin-top: 20px;
}
.index-polls-container {
  margin-top: 0px;
}
.index-poll-container {
  height: 400px;
}
.index-polls-container-xs {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  a { text-decoration: none; }
}
.index-polls-container:after {
  content: " ";
  display: block;
  clear: both;
}
.index-map-container {
  margin-top: 5px;
  margin-bottom: 15px;
  box-shadow: 1px 1.7px 5px rgba(0,0,1,0.1);
}

.index-all-content-row {
  width: 100%;
}
.index-all-content-row:after,
.index-all-content-row:before {
  content: '';
  top: 0;
  width: 100%;
  height: 100%;
  right: 100%;
}
.index-all-content-row:after {
  left: 100%;
  height: 100%;
  background-color: $pure_white;
}

.index-all-content-container {
  a { text-decoration: none; color: $pure_black; }
  .index-project-updates-container {
    padding-left: 0px;
    width: 100%;
    display: inline-block;
    height: 421px;
    .paginator-container {
      text-align: center;
      left: 0;
    }
  }
  @media all and(min-width: $break-sm) {
    .index-project-updates-container {
      padding-right: 15px;
      width: 30%;
      display: inline-block;
      .paginator-container {
        text-align: center;
        position: absolute;
        top: 420px;
        left: 0;
      }
    }
  }
  .paginator-container {
    margin-bottom: 10px;
    padding: 0;
  }
  .paginator-text{
    font-size: 16px;
    color: $gray;
  }
  .paginator-selected {
    font-weight: bold;
    font-size: 16px;
    color: $pumpkin;
  }
  .ellipsis {
    font-size: 16px;
    color: $gray;
  }
}
.project-update-update-image {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.project-update-update-image-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  //background: rgba(0,0,0,0.3);
  // background: rgba(212,123,123,1);
  // background: -moz-linear-gradient(top, rgba(212,123,123,1) 0%, rgba(0,0,0,1) 69%);
  // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,123,123,1)), color-stop(69%, rgba(0,0,0,1)));
  // background: -webkit-linear-gradient(top, rgba(212,123,123,1) 0%, rgba(0,0,0,1) 69%);
  // background: -o-linear-gradient(top, rgba(212,123,123,1) 0%, rgba(0,0,0,1) 69%);
  // background: -ms-linear-gradient(top, rgba(212,123,123,1) 0%, rgba(0,0,0,1) 69%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 99%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d47b7b', endColorstr='#000000', GradientType=0 );
  -webkit-transition: opacity .25s ease-in-out; /* Safari and Chrome */
  -moz-transition: opacity .25s ease-in-out; /* Firefox */
  transition: opacity .25s ease-in-out;
}
.project-update-container-box {
  height: 100%;
  width: 100%;
  position: relative;
  .left-arrow,
  .right-arrow {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all .5s ease-in-out; /** Firefox **/
    -o-transition: all .5s ease-in-out; /** Opera **/
  }
  .left-arrow {
    left: -40px;
    visibility: hidden;
    opacity: .5;
    cursor: default;
  }
  .right-arrow {
    right: 0;
    opacity: .5;
  }
}
.project-update-scrollable-container {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  width: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  @media all and(min-width: $break-md) {
    overflow: hidden;
  }
}

.project-update-scrollable {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: inline-flex;
  position: absolute;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all .5s ease-in-out; /** Firefox **/
  -o-transition: all .5s ease-in-out; /** Opera **/
  @media all and(max-width: $break-md - 1) {
    position: relative;
    left: 0 !important;
  }
  .react-swipe-container {
    @media all and(min-width: $break-xs) and(max-width: $break-sm - 1){
      height: 275px;
    }
    @media all and(min-width: $break-sm) {
      height: 100%;
    }
  }
}

.project-update-scrollable-icon {
  float: left;
  height: 350px;
  width: 40px;
  display: flex;
  top: 0;
  cursor: pointer;
  align-items: center;
  background: $pure_white;
  position: absolute;
  opacity: .5;
  top: 0;
  color: $flush_orange;
  @media all and(max-width: $break-md - 1) {
    display: none;
  }
}
.project-update-scrollable-icon > i {
  font-size: 35px;
  width: 100%;
  text-align: center;
}
.project-update-scrollable-icon:hover {
  background: $peach_orange;
  color: $flush_orange;
  text-decoration: none;
  transition: all .5s ease-in-out;
  -webkit-transition: all .1s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all .1s ease-in-out; /** Firefox **/
  -o-transition: all .1s ease-in-out; /** Opera **/
}
.project-update-update-link {
  height: 350px;
  width: 213px;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  opacity: 1;
  @media all and(max-width: $break-sm - 1) {
    height: 280px;
    width: 180px;
  }

  .project-update-update-short-project-name {
    color: $pure_white;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.1em;
    margin: 0 auto;
    //padding-left: 5px;
    position: absolute;
    text-decoration: underline;
    text-shadow: 1px 1px 0px #000;
    white-space: normal;
    width: 90%;
    word-break: break-word;
  }

  .created-date {
    top: 10px;
    position: absolute;
    right: 0;
    color: #fff;
    opacity: .2;
    background: $pure_black;
  }

  .created-date > i {
    margin-left: 10px;
  }
}

.project-update-update-title-container {
  background: $transparent;
  color: $pure_white;
  font-weight: 600;
  font-size: 16px;
  height: 38px;
  left: 15px;
  line-height: 1.2em;
  position: absolute;
  text-transform: uppercase;
  text-decoration: none;
  top: 230px;
  width: 80%;
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
  @media all and(max-width: $break-sm - 1) {
    top: 175px;
  }
}

.project-update-update-link:hover {
  .project-update-update-image-mask{
    @media all and(min-width: $break-sm) {
      opacity: 0.7;
      -webkit-transition: opacity .25s ease-in-out; /* Safari and Chrome */
    	-moz-transition: opacity .25s ease-in-out; /* Firefox */
    	transition: opacity .25s ease-in-out;
    }
  }

  .project-update-update-icon {
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out; /* Safari and Chrome */
    -moz-transition: opacity .25s ease-in-out; /* Firefox */
    transition: opacity .25s ease-in-out;
  }
}

.project-update-update-icon-container {
  margin: auto;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 11px;
  right: 0;
  @media all and(max-width: $break-sm - 1){
    height: 45px;
  }
}

.project-update-update-icon {
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: top;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  opacity: .5;
}
.project-update-update-info {
  font-weight: 100;
  top: 210px;
  left: 15px;
  margin: 0 auto;
  position: absolute;
  width: 90%;
  @media all and(max-width: $break-sm - 1) {
    top: 157px;
    width: 100%;
  }

  .update {
    text-align: right;
    color: $pure_white;
    opacity: .9;
    display: none;
  }
}

.project-update-update-type-icon-container {
  color: $flush_orange;
  font-size: 15px;
  @media all and(max-width: $break-xs - 1) {
    font-size: 12px;
  }
}

.project-update-update-time {
  font-weight: 200;
  margin-left: 5px;
  margin-right: 10px;
  font-size: 12px;
}
.project-update-container {
  @media all and(max-width: $break-xs - 1) {
    overflow-x: auto;
    width: auto;
    height: 350px;
    white-space: nowrap;
    position: relative;
    margin: 0 -15px;
  }
}
.index-project-updates-left-arrow {
  cursor: pointer;
  height: 30px;
  width: 15px;
  display: inline-block;
  float: left;
  position: absolute;
  left: -10px;
  top: 60px;
  background-image: $next_pre_spritesheet;
  background-position: 0 110%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.index-project-updates-right-arrow {
  cursor: pointer;
  height: 30px;
  width: 15px;
  display: inline-block;
  float: right;
  position: absolute;
  top: 60px;
  right: -5px;
  background-image: $next_pre_spritesheet;
  background-position: 0 0%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.index-content-container {
  height: 330px;
}
.index-content-poll-container {
  @media all and(min-width: $break-sm) {
    width: 100%;
  }
}
.index-map-container {
  @media all and(max-width: $break-xs - 1) {
    height: 100%;
  }
  @media all and(min-width: $break-xs) {
    height: 300px;
  }
}
