.loader {
  @media all and(max-width: $break-xs - 1) {
    margin: 45px auto;
    font-size: 5px;
  }
  @media all and(min-width: $break-xs) {
    margin: 60px auto;
    font-size: 10px;
  }
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(239,118,4, 0.2);
  border-right: 1.1em solid rgba(239,118,4, 0.2);
  border-bottom: 1.1em solid rgba(239,118,4, 0.2);
  border-left: 1.1em solid #ef7604;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader-lg {
  @extend .loader;
}
.loader-lg,
.loader-lg:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader-xs {
  @extend .loader;
}
.loader-xs,
.loader-xs:after {
  border-radius: 50%;
  width: 15em;
  height: 15em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
