.main-banner {
  height: 380px;
  .banner {
    width: 100%;
    height: 380px;
    background-position: center center;
    background-repeat: no-repeat;
    /*display:none;*/
    > a {
      display: inline-block;
      margin-top: 280px;
      width: 200px;
      height: 50px;
    }
  }
}

.main-banner_m {
  height: 220px;
  .banner {
    width: 100%;
    height: 220px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /*display:none;*/
    > a {
      display: inline-block;
      margin-top: 177px;
      width: 120px;
      height: 25px;
    }
  }
  &.swiper-container-horizontal > .swiper-pagination {
    bottom: 0px;
  }
  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }
}

@media all and (min-width: 992px) {
  .main .title {
    padding: 30px 0px 5px 0px;
    font-size: 22px;
    color: lighten($tundora,5.1%);
    font-weight: bolder;
    text-align: left;
    margin-bottom: 20px;
    .desc {
      color: $gray;
      font-size: 14px;
      &:before {
        color: $silver;
        padding: 0px 5px;
        content: "|";
      }
    }
  }
  .main-update, .main-popular {
    max-width: 1140px;
  }
  .main-project, .main-comming {
    width: 1140px;
    .contents {
      background-color: $pure_white;
      text-align: left;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .main .title {
    padding: 30px 0px 5px 0px;
    font-size: 22px;
    color: lighten($tundora,5.1%);
    font-weight: bolder;
    text-align: left;
    .desc {
      color: $gray;
      font-size: 14px;
      &:before {
        color: $silver;
        padding: 0px 5px;
        content: "|";
      }
    }
  }
  .main-project .contents, .main-comming .contents {
    background-color: $pure_white;
    text-align: center;
  }
}

@media all and (max-width: 767px) {
  .main .title {
    padding: 30px 0px 5px 0px;
    font-size: 22px;
    color: lighten($tundora,5.1%);
    font-weight: bolder;
    text-align: left;
    > span {
      display: block;
    }
    .desc {
      color: $gray;
      font-size: 14px;
    }
  }
  .main-update {
    padding: 0 15px;
  }
  .main-project, .main-comming {
    padding: 0 15px;
    .contents {
      text-align: center;
    }
  }
}

/** makestar update **/

.main-update {
  .contents {
    height: 190px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    .section {
      width: 365px;
      height: 190px;
      display: inline-block;
      white-space: normal;
      margin-right: 25px;
      &:last-child {
        margin-right: 0px;
      }
      .summary {
        display: inline-block;
        border: 1px solid $alto;
        vertical-align: top;
        width: 274px;
        height: 100%;
        padding: 30px 0px 0px 20px;
        > div {
          width: 160px;
        }
        .subject {
          color: $pure_black;
          font-size: 16px;
          font-weight: bold;
          height: 46px;
          overflow: hidden;
        }
        .date {
          color: $oslo_gray;
          font-size: 11px;
          padding: 10px 0px 10px 0px;
        }
        .desc {
          color: $gray;
          font-size: 12px;
          height: 65px;
          overflow: hidden;
        }
        a {
          color: inherit;
        }
      }
      .thumb-nail {
        display: inline-block;
        vertical-align: top;
        margin-left: -80px;
        margin-top: 15px;
        border: 1px solid $alto;
        img {
          width: 160px;
          height: 160px;
        }
      }
    }
  }
  .contents_m {
    height: 170px;
    text-align: left;
    .section {
      width: 310px;
      height: 170px;
      .summary {
        display: inline-block;
        vertical-align: top;
        width: 220px;
        height: 100%;
        border: 1px solid $alto;
        padding: 25px 0px 0px 10px;
        > div {
          width: 130px;
        }
        .subject {
          color: $pure_black;
          font-size: 13px;
          font-weight: bold;
          height: 40px;
          overflow: hidden;
        }
        .date {
          color: $oslo_gray;
          font-size: 11px;
          padding: 5px 0px 10px 0px;
        }
        .desc {
          color: $gray;
          font-size: 12px;
          height: 52px;
          overflow: hidden;
        }
        a {
          color: inherit;
        }
      }
      .thumb-nail {
        display: inline-block;
        vertical-align: top;
        margin-left: -80px;
        margin-top: 10px;
        border: 1px solid $alto;
        img {
          width: 140px;
          height: 140px;
        }
      }
    }
    &.swiper-container-horizontal > .swiper-pagination {
      bottom: 0px;
    }
  }
}

/** makestar update - mobile **/

/** makestar popular **/

.main-popular-bg {
  width: 100%;
  background-color: $alabaster;
  border: 1px solid $gallery;
  margin-top: 45px;
}

.main-popular {
  text-align: left;
  padding: 20px 0px 50px 0px;
  .contents {
    background-color: $pure_white;
    border: 1px solid $gallery;
    overflow: hidden;
    white-space: nowrap;
    .project {
      display: inline-block;
      vertical-align: top;
      overflow: visible;
      white-space: normal;
      .rank {
        display: none;
        &.on {
          display: block;
        }
      }
      .thumb-nail {
        display: inline-block;
        vertical-align: top;
      }
      .summary {
        display: inline-block;
        vertical-align: top;
        .progress_bar {
          margin: 10px 0;
          width: 100%;
          height: 5px;
          border-radius: 7.5px;
          background-color: $gallery;
          > div {
            max-width: 100%;
            height: 5px;
            border-radius: 7.5px;
            background-color: $gold;
          }
        }
      }
      .status > div {
        display: inline-block;
        color: $dusty_gray;
        width: 100px;
        font-size: 12px;
        border-left: 2px solid $gallery;
        padding-left: 10px;
        .info {
          color: $scorpion;
          font-weight: bold;
          height: 23px;
        }
      }
    }
    .sequence {
      display: inline-block;
      vertical-align: top;
      width: 366px;
      > div {
        border-left: 1px solid $gallery;
        border-bottom: 1px solid $gallery;
        width: 100%;
        color: 4c4c4c;
        overflow: hidden;
        white-space: normal;
        &:last-child {
          border-bottom: 0px;
        }
        &:hover {
          color: $outrageous_orange;
          background-color: $alabaster;
          font-weight: bold;
          border-left: 3px solid $outrageous_orange;
        }
        a {
          color: inherit;
          display: table-cell;
          vertical-align: middle;
        }
      }
      .no1 {
        background: url("/images/main/ranking_off_01.png") no-repeat 20px center;
      }
      .no2 {
        background: url("/images/main/ranking_off_02.png") no-repeat 20px center;
      }
      .no3 {
        background: url("/images/main/ranking_off_03.png") no-repeat 20px center;
      }
      .no1 {
        &.on, &:hover {
          background: url("/images/main/ranking_on_01.png") no-repeat 20px center;
        }
      }
      .no2 {
        &.on, &:hover {
          background: url("/images/main/ranking_on_02.png") no-repeat 20px center;
        }
      }
      .no3 {
        &.on, &:hover {
          background: url("/images/main/ranking_on_03.png") no-repeat 20px center;
        }
      }
      .on {
        color: $outrageous_orange;
        background-color: $alabaster;
        font-weight: bold;
        border-left: 3px solid $outrageous_orange;
        cursor: default;
      }
    }
  }
}

@media all and (min-width: 992px) {
  .main-popular .contents {
    .project {
      .thumb-nail img {
        width: 370px;
        height: 280px;
      }
      .summary {
        width: 384px;
        height: 280px;
        padding: 20px;
        .subject {
          color: $mine_shaft;
          font-weight: bold;
          overflow: hidden;
          font-size: 16px;
          line-height: 24px;
          padding-top: 10px;
          height: 62px;
        }
        .comment {
          color: $gray;
          overflow: hidden;
          font-size: 13px;
          line-height: 19px;
          padding-top: 20px;
          height: 60px;
        }
        .price {
          color: $mine_shaft;
          font-weight: bold;
          font-size: 20px;
          padding-top: 20px;
        }
      }
    }
    .sequence > div {
      height: 93px;
      font-size: 16px;
      padding: 0 10px 0px 60px;
      /*padding-top:26px;*/
      a {
        height: 93px;
      }
    }
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .main-popular .contents {
    .project {
      .thumb-nail img {
        width: 264px;
        height: 200px;
      }
      .summary {
        width: 300px;
        height: 200px;
        padding: 5px 10px;
        .subject {
          color: $mine_shaft;
          font-weight: bold;
          overflow: hidden;
          font-size: 15px;
          line-height: 20px;
          padding-top: 5px;
          height: 45px;
        }
        .comment {
          color: $gray;
          overflow: hidden;
          font-size: 13px;
          line-height: 19px;
          padding-top: 5px;
          height: 45px;
        }
        .price {
          color: $mine_shaft;
          font-weight: bold;
          font-size: 20px;
          padding-top: 10px;
        }
      }
      .status > div {
        width: 90px;
      }
    }
    .sequence > div {
      height: 67px;
      font-size: 14px;
      padding-left: 55px;
      /*padding-top:15px;*/
      a {
        height: 67px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .main-popular-bg {
    display: none;
  }
}

/** makestar project **/

.main-project .contents {
  background-color: $pure_white;
  .project {
    display: inline-block;
    width: 370px;
    /*height:300px;*/
    margin-bottom: 30px;
    margin-right: 5px;
    border: 1px $gallery solid;
    .thumb-area {
      cursor: pointer;
    }
    .thumb-nail {
      width: 368px;
      height: 280px;
    }
    .goal {
      width: 370px;
      text-align: center;
      margin-top: -80px;
      position: absolute;
      padding-left: 130px;
    }
    .summary {
      padding: 17px 15px 0px 15px;
      .price {
        text-align: left;
        font-size: 18px;
        color: $mine_shaft;
        font-weight: bold;
        width: 49%;
        display: inline-block;
      }
      .remain {
        text-align: right;
        font-size: 14px;
        color: $scorpion;
        width: 49%;
        display: inline-block;
      }
    }
    .subject {
      display: table;
      text-align: left;
      clear: both;
      height: 60px;
      overflow: hidden;
      margin: 30px 15px;
      vertical-align: middle;
      span {
        display: table-cell;
        vertical-align: middle;
        line-height: normal;
        overflow: hidden;
        font-size: 20px;
        color: $mine_shaft;
        font-weight: bold;
      }
    }
    .line {
      width: 100%;
      height: 0px;
      border-bottom: 1px $gallery solid;
    }
    .tags {
      display: table-cell;
      text-align: left;
      clear: both;
      height: 45px;
      overflow: hidden;
      vertical-align: middle;
      padding: 0px 15px;
      img {
        margin-top: -2px;
      }
      span {
        overflow: hidden;
        font-size: 17px;
        color: $silver_chalice;
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 410px) {
  .main-project .contents .project {
    width: 270px;
    margin-bottom: 30px;
    margin-right: 5px;
    .thumb-area .openlayer {
      width: 270px;
      height: 205px;
      font-size: 13px;
      line-height: 21px;
      padding: 50px 30px 0px 30px;
      cursor: pointer;
      display: none;
    }
    .thumb-nail {
      width: 268px;
      height: 205px;
    }
    .goal {
      width: 270px;
      margin-top: -60px;
      padding-left: 98px;
    }
    .summary {
      padding: 14px 14px 0px 14px;
      .price {
        font-size: 13px;
      }
      .remain {
        font-size: 11px;
      }
    }
    .subject {
      height: 40px;
      margin: 18px 15px;
      span {
        font-size: 15px;
      }
    }
    .tags {
      height: 32px;
      padding: 0px 15px;
      span {
        font-size: 15px;
        overflow: auto;
      }
    }
  }
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: $pure-white;
  opacity: .5;

}

.swiper-pagination-bullet-active {
  background: $pumpkin;
  opacity: 1;
}

#swiper-update {
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: $alto;
    opacity: .5;
  }
  .swiper-pagination-bullet-active {
    background: $gray;
    opacity: 1;
  }
}
