.funding {
  .title {
    text-align: center;
    font-weight: bold;
  }
  .header > div {
    background: $outer_space;
    color: $pure_white;
    text-align: center;
    font-weight: bold;
  }
  .section {
    text-align: center;
    &.odd > div {
      background-color: $gallery;
    }
  }
  .seemore {
    text-align: center;
    padding-top: 20px;
    > button {
      width: 85px;
      height: 35px;
      background-color: $pure_white;
      border: 1px solid $outer_space;
      color: $tundora;
      border-radius: 3px;
      font-weight: bold;
      &:hover {
        background-color: $outer_space;
        color: $pure_white;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .funding {
    .title {
      padding: 30px 0px;
      font-size: 35px;
    }
    .header > div, .section > div {
      padding: 10px 0px;
    }
  }
}

@media all and (max-width: 767px) {
  .funding {
    .title {
      padding: 25px 0px;
      font-size: 25px;
    }
    .header > div, .section > div {
      padding: 5px 0px;
    }
  }
}
