#root{
  background-color: $alabaster;
  overflow-x: hidden;
  overflow-y: hidden;
}

$possible-votes-image-variables: (
  once: $poll_index_1_png,
  re1: $poll_index_1h_png,
  re6: $poll_index_6h_png,
  re12: $poll_index_12h_png,
  re24: $poll_index_24h_png
);

@mixin poll-possible-votes($num) {
  .poll-possible-votes-#{$num} {
    background-image: map-get($possible-votes-image-variables,$num);
    @media all and(max-width: $break-xs - 1) {
      background-size: 20px 20px;
      height: 20px;
    }
    @media all and(min-width: $break-xs) and (max-width: $break-sm - 1) {
      background-size: 25px 25px;
      height: 25px;
    }
    @media all and(min-width: $break-sm) {
      background-size: 32px 32px;
      height: 32px;
    }
    display: table-cell;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-top: 16px;
  }
}

$poll-vote-icons: (
  on: $poll_index_v_orange_png,
  off: $poll_index_v_grey_png
);

@mixin poll-vote-off-on($state) {
  .poll-vote-count-#{$state} {
    background-image: map-get($poll-vote-icons,$state);
    @media all and(max-width: $break-sm) {
      background-size: 18px 18px;
    }
    @media all and(min-width: $break-sm) {
      background-size: 32px 32px;
      height: 32px;
    }
    display: table-cell;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

@mixin poll-vote-off-on-text($state) {
  @if ($state == 'on') {
    color: $vermilion;
  }
  @if ($state == 'off') {
    color: $gray;
  }
  .poll-vote-count-#{$state}-text {
    @media all and(max-width: $break-sm) {
      font-size: 12pt;
      margin-left: 25px;
    }
    @media all and(min-width: $break-sm) {
      font-size: 18pt;
      margin-left: 40px;
    }
    margin-top: 16px;
  }
}

$poll-option-image-rank-icons: (
  option-image-rank-1: $poll_rank_1_png,
  option-image-rank-2: $poll_rank_2_png,
  option-image-rank-3: $poll_rank_3_png,
);

@mixin option-image-rank($name) {
  .#{$name} {
    position: absolute;
    background-image: map-get($poll-option-image-rank-icons,$name);
    background-repeat: no-repeat;
    z-index: 1;
    @media all and(max-width: $break-sm - 1) {
      background-size: contain;
      width: 15px;
      height: 23px;
      left: 5px;
    }
    @media all and(min-width: $break-sm) {
      background-size: contain;
      width: 30px;
      height: 46px;
      left: 10px;
    }
  }
}
@mixin icon($icon,$name) {
  .#{$name} {
    background-image: $icon;
    @media all and(max-width: $break-xs - 1) {
      background-size: 20px 20px;
      height: 20px;
    }
    @media all and(min-width: $break-xs) and (max-width: $break-sm - 1) {
      background-size: 25px 25px;
      height: 25px;
    }
    @media all and(min-width: $break-sm) {
      background-size: 32px 32px;
      height: 32px;
    }
    display: table-cell;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-top: 16px;
  }
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}

.row-centered-mobile {
  @media all and(max-width: $break-sm) {
    text-align:center;
  }
  @media all and(min-width: $break-sm) {
    text-align: left;
  }
}

.row-centered {
  text-align: center;
}

.poll-show-vote-container {
  top: 30%;
}

.poll-tag-container {
  border-top: 1px solid;
  border-color: $mercury;
  background-color: $pure_white;
  margin-top: 10px;
  display: table;
  padding-top: 15px;
}

.poll-index-area {
  background-color: $alabaster;
  @media all and(min-width: $break-md) {
    width: $break-content-container;
  }
  .poll-status-lg {
    display: table-cell;
    margin-bottom: 5px;
  }
  .poll-index-tag-container {
    @extend .poll-tag-container;
    .tag-icon {
      display: table-cell;
      vertical-align: middle;
      background-image: $tag_png;
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: center left;
      @media all and(max-width: $break-sm - 1) {
        background-size: 15px 8px;
        height: 8px;
        width: 15px;
      }
      @media all and(min-width: $break-sm) {
        background-size: 21px 12px;
        height: 12px;
        width: 21px;
      }
    }
    .tag-text {
      @media all and(min-width: $break-sm -1) {
        font-size: 10pt;
      }
      @media all and(min-width: $break-sm) {
        font-size: 11pt;
      }
      margin-left: 5px;
      vertical-align: middle;
      color: $gray;
    }
  }
}

.poll-index {
  background-color: $iron;
}

.poll-item {
  background-color: $pure-white;
  border: 1px solid;
  border-color: $mercury;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 15px;
  cursor: pointer;
  a { text-decoration: none; }
  .poll-item-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    margin-bottom: 10px;
    padding: 10px;
  }
  .poll-item-title-container {
    display: table-cell;
    vertical-align: middle;
    max-width: 480px;
  }
  .poll-item-title {
    font-weight: bold;
    @media all and(max-width: $break-xs - 1) {
      font-size: 11pt;
      margin-right: 15px;
      line-height: 15pt;
    }
    @media all and(min-width: $break-xs) and(max-width: $break-sm - 1) {
      font-size: 16pt;
    }
    @media all and(min-width: $break-sm) {
      font-size: 16pt;
    }
    text-align: left;
    color: $scorpion;
  }
  .poll-item-number-container {

  }
  .poll-item-number {
    font-weight: 100;
    margin-left: 25px;
    margin-right: 15px;
    @media all and(max-width: $break-sm - 1) {
      font-size: 20pt;
    }
    @media all and(min-width: $break-xs)  and(max-width: $break-sm - 1){
      font-size: 28pt;
    }
    @media all and(min-width: $break-sm) {
      font-size: 28pt;
      margin-left: 20px;
      margin-right: 20px;
    }
    color: $vermilion;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  }
  .poll-rank-image-container {
    margin-bottom: 15px;
    @media all and(max-width: $break-xs - 1) {
      height: 175px;
    }
    @media all and(min-width: $break-xs) and (max-width: $break-sm - 1) {
      height: 350.5px;
    }
    @media all and(min-width: $break-sm) {
      height: 350px;
    }
  }
  .poll-rank-image-split-large {
    @media all and(max-width: $break-xs) {
      height: 87.5px;
    }
    @media all and(min-width: $break-xs) and (max-width: $break-sm) {
      height: 175px;
    }
    @media all and(min-width: $break-sm) {
      height: 175px;
    }
    padding: 0px;
    margin: 0px;
    border: 1px solid $pure_white;
  }
  .poll-rank-image-split-small {
    @media all and (max-width: $break-xs) {
      height: 87.5px;
    }
    @media all and(min-width: $break-xs) and (max-width: $break-sm) {
      height: 175px;
    }
    @media all and (min-width: $break-sm) {
      height: 175px;
    }
    padding: 0px;
    margin: 0px;
    border: 1px solid $pure_white;
  }
  .poll-rank-image-large {
    @media all and(max-width: $break-xs) {
      height: 175.5px;
    }
    @media all and(min-width: $break-xs) and (max-width: $break-sm) {
      height: 350px;
    }
    @media all and(min-width: $break-sm) {
      height: 350px;
    }
    padding: 0px;
    margin: 0px;
    border: 1px solid $pure_white;
  }

  .poll-rank-image-3-way-split {
    @media all and(max-width: $break-xs) {
      height: 175.5px;
    }
    @media all and(min-width: $break-xs) and (max-width: $break-sm) {
      height: 350px;
    }
    @media all and(min-width: $break-sm) {
      height: 350px;
    }
    padding: 0px;
    margin: 0px;
    border: 1px solid $pure_white;
  }
}

@include poll-possible-votes('once');
@include poll-possible-votes('re1');
@include poll-possible-votes('re6');
@include poll-possible-votes('re12');
@include poll-possible-votes('re24');

@include poll-vote-off-on('on');
@include poll-vote-off-on('off');

@include poll-vote-off-on-text('on');
@include poll-vote-off-on-text('off');

@include icon($poll_on_png,'poll-on-icon');
@include icon($poll_fin_png,'poll-off-icon');
@include icon($poll_index_p_png,'poll-participants-icon');
@include icon($poll_index_v_grey_png,'poll-vote-count-off');

.poll-on-text {
  @media all and(max-width: $break-xs - 1) {
    font-size: 10.5pt;
    margin-left: 25px;
  }
  @media all and(min-width: $break-xs) and(max-width: $break-sm - 1) {
    font-size: 13pt;
    margin-left: 35px;
  }
  @media all and(min-width: $break-sm) {
    font-size: 13pt;
    margin-left: 40px;
  }
  color: $vermilion;
}

.poll-off-text {
  @media all and(max-width: $break-xs - 1) {
    font-size: 10.5pt;
    margin-left: 25px;
  }
  @media all and(min-width: $break-xs) and(max-width: $break-sm - 1) {
    font-size: 13pt;
    margin-left: 35px;
  }
  @media all and(min-width: $break-sm) {
    font-size: 13pt;
    margin-left: 40px;
  }
  color: $gray;
}

.poll-show-container {
  @media all and(max-width: $break-content-container) {
    width: 100%;
  }
  @media all and(min-width: $break-content-container) {
    width: $break-content-container;
    margin: auto;
  }
  .poll-show-tag-container {
    @extend .poll-tag-container;
    border-top: none;
    margin-top: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    border-color: $mercury;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 18px;
  }
  .tag-icon {
    display: table-cell;
    vertical-align: middle;
    background-image: $tag_png;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    padding: 0px;
    padding-right: 10px;
    background-size: 15px 8px;
    width: 15px;
    height: 8px;
  }
  .tag-text {
    @media all and(max-width: $break-xs - 1) {
    font-size: 8pt;
    }
    @media all and(min-width: $break-xs) and(max-width: $break-sm - 1){
      font-size: 10pt;
    }
    @media all and(min-width: $break-sm) {
      font-size: 11pt;
    }
    height: 19px;
    margin-left: 5px;
    vertical-align: middle;
    color: $gray;
  }
}

.poll-show-status-left {
  margin-left: 15px;
}
.poll-show-status {
  background-color: $pure-white;
  margin: 1px solid;
  margin-color: $gray;
  padding-top: 10px;
  padding-bottom: 15px;
  .poll-status-lg {
    display: table;
    padding: 5px;
    @media all and(min-width: $break-md) {
      width: 25%;
    }
  }
}
.poll-show-date-container {
  @media all and(max-width: $break-sm) {
    border-bottom: 1px solid;
    border-color: $mercury;
  }
  border-top: 1px solid;
  border-color: $mercury;
  background-color: $pure-white;
  display: table;
  padding: 0px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  .date-icon {
    display: table-cell;
    vertical-align: middle;
    height: 13px;
    width: 13px;
    background-image: $poll_show_date_png;
    background-size: 13px 13px;
    background-repeat: no-repeat;
  }
  .date-text {
    @media all and(max-width: $break-sm -1) {
      font-size: 10pt;
    }
    @media all and(min-width: $break-sm) {
      font-size: 11pt;
    }
    margin-left: 5px;
    color: $gray;
  }
}

.poll-show-header {
  background-color: $pure-white;
  .poll-show-header-iframe {
    iframe {border: none; }
  }
}
.poll-show-item-number {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  color: $vermilion;
  margin-top: 15px;
  margin-left: 15px;
  @media all and(max-width: $break-xs - 1) {
    font-size: 22pt;
  }
  @media all and(min-width: $break-xs) {
    font-size: 30pt;
    padding: 0px;
    margin-left: 30px;
  }
}
.poll-show-title {

  .title-flex-container {
    @extend .flex-standard;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  @media all and(min-width: $break-xs) {
    margin-top: 20px;
    height: 80px;
  }
  background-color: $pure-white;
  height: 60px;
  @media all and(min-width: $break-sm) {
    height: 80px;
  }
  line-height: 19pt;
  .poll-show-title-text {
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    @media all and(max-width: $break-xs - 1) {
      font-size: 11pt;
      font-weight: bold;
      line-height: 15pt;
    }
    @media all and(min-width: $break-xs) and(max-width: $break-sm - 1) {
      font-size: 16pt;
      font-weight: bold;
    }
    @media all and(min-width: $break-sm) {
      font-size: 16pt;
      font-weight: bold;
    }
    color: $scorpion;
    text-align: left;
  }
}
.poll-show-header-iframe {
  padding: 0px;
}

.poll-show-options {
  @media all and(max-width: 1400px) {
    margin-bottom: 0px;
    margin-right: -5px;
    margin-left: -5px;
  }
  @media all and(min-width: 1400px) {
    margin-bottom: 40px;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.poll-show-option {
  @media all and(max-width: $break-xs - 1) {
    height: 115px;
    margin-top: 15px;
  }
  @media all and(min-width: $break-xs) {
    height: 230px;
    margin-top: 40px;
  }
  background-color: $pure-white;
  padding-left: 0px;
  padding-right: 0px;
}

.poll-show-option-image {
  @media all and(max-width: $break-xs - 1) {
    height: 115px;
  }
  @media all and(min-width: $break-xs) {
    height: 228px;
  }
  padding: 1px;
}

@include option-image-rank('option-image-rank-1')
@include option-image-rank('option-image-rank-2')
@include option-image-rank('option-image-rank-3')
@include option-image-rank('option-image-no-rank')

.poll-show-vote-percentage {
  height: 100%;
  border-right: 1px solid;
  border-color: $mercury;
  padding: 10px;
  .poll-show-option-name {
    @media all and(max-width: $break-xs - 1) {
      margin-top: 6px;
      font-size: 10pt;
      line-height: 15pt;
      margin-bottom: 6px;
    }
    @media all and(min-width: $break-xs) {
      margin-top: 12px;
      font-size: 13pt;
      line-height: 19pt;
      margin-bottom: 12px;
    }
    color: $scorpion;
  }
}

.poll-show-progress-bar-container {
  @media all and(max-width: $break-xs - 1) {
    height: 10px;
    margin-bottom: 6px;
  }
  @media all and(min-width: $break-xs) {
    height: 14px;
    margin-bottom: 12px;
  }
}
.poll-show-progress-bar {
  background-color: $gold;
}

.poll-show-progress-percentage {
  @media all and(max-width: $break-xs - 1) {
    font-size: 11pt;
    margin-top: 6px;
  }
  @media all and(min-width: $break-xs) {
    font-size: 18pt;
    margin-top: 12px;
  }
  font-weight: bold;
  color: $scorpion;
}

.poll-show-link {
  a {
    @media all and(max-width: $break-sm) {
      font-size: 9pt;
      margin-top: 6px;
    }
    @media all and(min-width: $break-sm) {
      font-size: 11pt;
      margin-top: 12px;
    }
    color: $vermilion;
  }
}

.flex-standard {
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.poll-show-vote-btn-off {
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  margin: auto;
  @media all and(max-width: $break-xs - 1) {
    height: 21px;
    width: 21px;
    background-size: 21px 21px;
  }
  @media all and(min-width: $break-xs) {
    height: 62px;
    width: 62px;
    background-size: 62px 62px;
  }
  background-image: $poll_vote_btn;
  background-repeat: no-repeat;
}

.poll-show-vote-btn-on {
  margin: auto;
  @media all and(max-width: $break-xs - 1) {
    height: 21px;
    width: 21px;
    background-size: 21px 21px;
  }
  @media all and(min-width: $break-xs) and(max-width: $break-sm - 1){
    height: 26px;
    width: 26px;
    background-size: 26px 26px;
  }
  @media all and(min-width: $break-sm) {
    height: 62px;
    width: 62px;
    background-size: 62px 62px;
  }
  background-image: $poll_voted_btn;
  background-repeat: no-repeat;
}

.poll-show-vote-voted-text {
  margin-top: 10px;
  text-align: center;
  @media all and(max-width: $break-xs - 1) {
    font-size: 8pt;
  }
  @media all and(min-width: $break-xs) and(max-width: $break-sm - 1) {
    font-size: 12pt;
  }
  @media all and(min-width: $break-sm) {
    font-size: 12pt;
  }
  color: $vermilion;
}

.poll-show-vote-not-voted-text {
  margin-top: 10px;
  text-align: center;
  @media all and(max-width: $break-xs - 1) {
    font-size: 8pt;
  }
  @media all and(min-width: $break-xs) and(max-width: $break-sm - 1) {
    font-size: 12pt;
  }
  @media all and(min-width: $break-sm) {
    font-size: 12pt;
  }
  color: $gray;
}

.poll-show-vote-icon-text {
  margin-top: 20px;
  @media all and(max-width: $break-xs - 1) {
    font-size: 9pt;
  }
  @media all and(min-width: $break-xs) and(max-width: $break-sm - 1) {
    font-size: 10pt
  }
  @media all and(min-width: $break-sm) {
    font-size: 12pt;
  }
  color: $dusty_gray;
}
.poll-show-vote {
  @media all and(min-width: $break-sm) {
    align-items: center;
  }
  @media all and(max-width: $break-sm) {
  }
  color: $dusty_gray;
}

.poll-show-vote-icon {
  margin-top: 20px;
  @media all and(max-width: $break-xs - 1) {
    height: 12px;
    width: 12px;
    margin-top: 2%;
    background-size: 12px 12px;
  }
  @media all and(min-width: $break-xs) and(max-width: $break-sm - 1){
    height: 15px;
    width: 15px;
    background-size: 15px 15px;
  }
  @media all and(min-width: $break-sm) {
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
  }
  background-image: $poll_index_v_grey_png;
  background-repeat: no-repeat;
}

.poll-index-empty-container {
  padding-top: 100px;
  padding-bottom: 150px;

  .poll-index-empty-text {
    text-align: center;
    text-align: --webkit-center;
    font-size: 12pt;
  }
}

.poll-show-option-vote-count-container {
  padding-top: 5px;
  display: table;
  .poll-show-option-vote-count-icon {
    background-image: $poll_vote_count_png;
    @media all and(max-width: $break-xs - 1) {
      width: 10px;
      height: 17px;
    }
    @media all and(min-width: $break-xs) {
      width: 15px;
      height: 21px;
      background-position: 0px 2.5px;
    }
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
  }
  .poll-show-option-vote-count-text {
    color: $dusty_gray;
    float: left;
    margin-left: 2px;
    display: table-cell;
    vertical-align: middle;
    @media all and(max-width: $break-xs - 1) {
      padding-top: 0.5px;
      font-size: 7pt;
    }
    @media all and(min-width: $break-xs) {
      font-size: 11pt;
    }
  }
}

.poll-show-option-vote-percentage-text-container {
  padding-left: 0px;
}
