.project-index-container {
  margin-top: 15px;
  height: auto;
  @media all and(min-width: $break-md) {
    width: $break-content-container;
  }
  @media all and(max-width: $break-xs - 1) {
    margin-right: 0px;
    margin-left: 0px;
  }
  a { text-decoration: none; }
}

.project-index-project-container {
  background-color: $pure-white;
  margin-right: 3px;
  margin-left: 2px;
  margin-bottom: 10px;
  box-shadow: 1px 1.7px 5px rgba(0,0,1,0.1);
  @media all and(max-width: $break-xs - 1) {
    padding: 0px;
  }
}
.project-index-project-info-sum-remaining {
  padding-top: 15px;
  padding-bottom: 7.5px;
  padding-left: 15px;
  padding-right: 15px;
}
.project-index-project-sum-text {
  @extend .text-pure-black,.text-bold;
  @media all and(min-width: $break-xs) {
    font-size: 18px;
  }
}
.hide-container {
  visibility: hidden;
}
.project-index-project-remaining-text {
  @extend .text-scorpion;
  @media all and(min-width: $break-xs) {
    font-size: 14px;
    padding-top: 3px;
  }
}
.project-index-project-info-name {

  padding-top: 7.5px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  @media all and(max-width: $break-xs - 1) {
    height: 80px;
  }
  @media all and(min-width: $break-xs) {
    height: 60px;
    padding: 6px 15px 0 15px;
  }
}
.project-index-project-info-name-text {
  @extend .text-pure-black,.text-bold;
  font-weight: bold;
  @media all and(max-width: $break-sm - 1) {
    font-size: 15px;
  }
  @media all and(min-width: $break-sm) {
    font-size: 18px;
  }
}
.project-index-project-info-container {
  box-shadow: 1px 1.7px 5px rgba(0,0,1,0.1);
  height: 150px;
}
.project-index-project-tag-container {
  @extend .content-index-content-tag-container;
  .tag-text {
    @media all and(max-width: $break-xs - 1) {
      font-size: 10px;
    }
    @media all and(min-width: $break-xs) {
      font-size: 14px;
    }
  }
  .project-index-tags {
    @media all and(max-width: $break-xs - 1) {
      padding-bottom: 9px;
      padding-top: 9px;
      padding-left: 15px;
    }
    @media all and(min-width: $break-xs) {
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 20px;
    }
  }
}

.project-index-project-progress-bar-tooltip-container {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  .tooltip {
    opacity: 0.8;
    margin-left: 0px;
    padding: 0;
    z-index: 9;
    @media all and(max-width: $break-xs - 1) {
      top: -27px;
    }
    @media all and(min-width: $break-xs) {
      top: -40px;
      width: 78px;
    }
  }
  .tool-tip-arrow {
    opacity: 0.8;
  }
  .left {
    .tooltip-arrow-under-target {
      @media all and(max-width: $break-xs - 1) {
        border: 5px solid #f79e31;
        border-color: #f79e31 transparent transparent #f79e31;
        top: 25px;
        left: 0px;
      }
      @media all and(min-width: $break-xs) {
        border: 7px solid #f79e31;
        border-color: #f79e31 transparent transparent #f79e31;
        top: 33px;
        left: 0px;
      }
    }
  }
  .right {
    float: right;
    .tooltip-arrow-over-target {
      @media all and(max-width: $break-xs - 1) {
        border: 5px solid #ac0677;
        border-color: #ac0677 #ac0677 transparent transparent;
        top: 25px;
        left: 50px;
      }
      @media all and(min-width: $break-xs) {
        border: 7px solid #ac0677;
        border-color: #ac0677 #ac0677 transparent transparent;
        top: 33px;
        left: 64px;
      }
    }
    .tooltip-arrow-under-target {
      @media all and(max-width: $break-xs - 1) {
        border: 5px solid #f79e31;
        border-color: #f79e31 #f79e31 transparent transparent;
        top: 25px;
        left: 50px;
      }
      @media all and(min-width: $break-xs) {
        border: 7px solid #f79e31;
        border-color: #f79e31 #f79e31 transparent transparent;
        top: 33px;
        left: 64px;
      }
    }
  }
  .tooltip-inner {
    min-width: 60px;
    @media all and(min-width: $break-xs) {
      font-size: 18px;
      padding: 2px 10px 4px;
    }
  }
  .over-target {
    background-color: #ac0677;
  }
  .under-target {
    background-color: #f79e31;;
  }
}
.project-index-project-progress-bar-container {
  display: block;
  .progress {
    @media all and(max-width: $break-xs - 1) {
      height: 10px;
    }
    @media all and(min-width: $break-xs) {
      height: 16px;
    }
    margin-bottom: 0px;
    border-radius: 0px;
  }
  .progress-bar-project-index-progress-bar-under-target {
    -web-kit-box-shadow: none;
    box-shadow: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorStr='#ff7701', EndColorStr='#f79e31')"; /* IE9 */
    background-image: -moz-linear-gradient(left, #ff7701 0%, #f79e31 73%); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(left, #ff7701 0%,#f79e31 73%); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to right, #ff7701 0%,#f79e31 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  .progress-bar-project-index-progress-bar-over-target {
    -web-kit-box-shadow: none;
    box-shadow: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorStr='#e51c6f', EndColorStr='#a3007a')"; /* IE9 */
    background-image: -moz-linear-gradient(left, #e51c6f 0%, #a3007a 73%); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(left, #e51c6f 0%,#a3007a 73%); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to right, #e51c6f 0%, #a3007a 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}
.index-project, .index-project-xs {
  .project-index-project-thumbnail-container {
    @media all and(max-width: $break-xs - 1) {
      min-height: 171px;
    }
    @media all and(min-width: $break-xs) {
      min-height: 272px;
    }
  }
}
.project-index-container {
  .project-index-project-thumbnail-container {
    @media all and(max-width: $break-xs - 1) {
      min-height: 214px;
    }
    @media all and(min-width: $break-xs) and(max-width: $break-md - 1) {
      min-height: 256px;
    }
    @media all and(min-width: $break-md) {
      min-height: 404px;
    }
  }
}
.project-index-thumbnail-img {
  display: block;
  @media all and(max-width: $break-xs - 1) {
    width: 100%;
    height: 100%;
  }
  @media all and(min-width: $break-xs) {
    width: 100%;
    height: 100%;
    max-height: 410px;
  }
}
