.notification {
  position: fixed;
  right: 0;
  margin: 10px;
  background-color: $pure-white;
  box-shadow: 0 0 12px $silver;
  padding: 15px;
  @media all and(max-width: $break-xs - 1) {
    min-height: 50px;
    min-width: 125px;
  }
  @media all and(min-width: $break-xs) {
    min-width: 200px;
    min-height: 85px;
  }
  z-index: 10;
}

.notification-close-notification-container {
  display: inline-block;
}

.notification-close-notification-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background-color: $pure-white;
}

.notification-message {
  display: inline-block;
  padding: 15px;
  font-weight: bold;
  @media all and(max-width: $break-xs - 1) {
    font-size: 10px;
  }
  @media all and(min-width: $break-xs) {
    font-size: 15px;
  }
}

.notification-info {
  border-top: 5px solid $mountain_meadow;
}
.notification-alert {
  border-top: 5px solid red;
}
