.paginator-container {
  div {
    display: inline;
    font-size: 15pt;
    color: $vermilion;
    cursor: pointer;
  }
  .selected {
    cursor: none;
  }
  margin-bottom: 40px;
  span {
    padding: 8px;
  }
}

.paginator-selected {
  font-weight: bold;
  color: $vermilion;
  pointer-events: none;
  cursor: default;
}

