.payment {
  .title {
    text-align: center;
    font-weight: bold;
  }
  .header {
    padding-bottom: 20px;
    span {
      color: lighten($tundora,5.1%);
      display: inline-block;
      width: 33.333%;
      text-align: center;
      font-weight: bold;
      border-top: 2px solid $nobel;
      border-bottom: 2px solid $nobel;
      &:first-child {
        border-left: 2px solid $nobel;
      }
      &:last-child {
        border-right: 2px solid $nobel;
      }
      &.on {
        border-color: $vermilion;
        color: $vermilion;
      }
    }
  }
  .body {
    border: 1px solid $alto;
    clear: both;
    .reward {
      padding: 20px 0px;
      border-top: 1px dotted $alto;
      &:last-child {
        border-bottom: 1px dotted $alto;
      }
      &.enable:hover {
        background-color: $alto;
        cursor: pointer;
      }
      > span {
        display: table-cell;
        vertical-align: middle;
      }
      .price {
        font-weight: bold;
      }
      &.on {
        background-color: $alabaster;
        color: $vermilion;
      }
      &.disable {
        color: $alto;
        background-color: $pure_white;
      }
    }
  }
  .goods {
    /* width: 100%;text-align:center;border-bottom:2px solid #333333;*/
    > div {
      padding-left: 0px;
      padding-right: 0px;
    }
    .subject {
      background: $outer_space;
      color: $outer_space;
      text-align: center;
      font-weight: bold;
    }
  }
  .pay {
    clear: both;
    > div:first-child {
      font-size: 23px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .delivery-form {
      width: 100%;
      border-top: 3px solid $mine_shaft;
      border-bottom: 2px solid $mine_shaft;
      margin-bottom: 20px;
      tr {
        border-bottom: 1px solid $geyser;
      }
      .subject {
        text-align: center;
        color: $mine_shaft;
        background-color: $caskill_white;
        font-weight: bold;
      }
      .form {
        padding: 10px 15px;
      }
      span {
        color: red;
      }
    }
    .summary {
      > div {
        float: left;
        width: 33.3%;
        text-align: center;
        border-top: 5px solid $geyser;
        border-bottom: 5px solid $geyser;
        &:first-child {
          border-left: 5px solid $geyser;
        }
        &:last-child {
          border-right: 5px solid $geyser;
        }
      }
      .subject {
        background-color: $caskill_white;
        font-weight: bold;
        padding: 10px 0px;
      }
      .price {
        padding: 10px 0px;
        color: $tundora;
        font-weight: bold;
      }
      .sum {
        padding: 10px 0px;
        color: $vermilion;
        font-weight: bold;
      }
    }
    .method {
      border-top: 3px solid $mine_shaft;
      border-bottom: 2px solid $mine_shaft;
      padding: 10px 0px;
      label {
        padding-left: 20px;
        > span {
          padding-left: 5px;
          font-size: 14px;
          color: $mine_shaft;
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .payment {
    .title {
      padding: 30px 0px;
      font-size: 35px;
    }
    .header span {
      font-size: 18px;
      height: 56px;
      line-height: 56px;
    }
    .body {
      padding: 50px;
      .reward {
        > span:first-child {
          width: 35px;
          padding-left: 10px;
        }
        .price {
          font-size: 25px;
          line-height: 25px;
          width: 150px;
        }
        .textbox {
          height: 35px;
          font-size: 16px;
          width: 120px;
          color: $mine_shaft;
        }
      }
    }
    .bottom {
      padding: 20px 0px 50px 0px;
      text-align: right;
    }
  }
}

@media all and (max-width: 767px) {
  .payment {
    .title {
      padding: 25px 0px;
      font-size: 25px;
    }
    .header span {
      font-size: 13px;
      height: 40px;
      line-height: 40px;
    }
    .body {
      padding: 10px 5px;
      .reward {
        > span:first-child {
          width: 25px;
          padding-left: 5px;
        }
        .price {
          font-size: 15px;
          line-height: 15px;
          width: 85px;
        }
        .textbox {
          width: 80px;
          color: $mine_shaft;
        }
      }
    }
    .bottom {
      padding: 10px 0px 30px 0px;
      text-align: right;
    }
  }
}

@media all and (min-width: 768px) {
  .payment {
    .goods {
      .subject {
        color: $pure_white;
        padding: 10px 0px;
      }
      .contents {
        padding: 20px 5px;
        text-align: center;
      }
    }
    .pay {
      .delivery-form {
        .subject {
          width: 150px;
          padding: 10px 0px;
          font-size: 14px;
        }
        .form {
          input {
            width: 300px;
          }
          textarea {
            width: 300px;
            height: 50px;
          }
        }
      }
      .summary {
        .price, .sum {
          font-size: 20px;
        }
      }
      .method label {
        /*width:20%;*/
        padding-left: 30px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .payment {
    .goods {
      .subject {
        color: $pure_white;
        padding: 5px 0px;
      }
      .contents {
        padding: 10px 0px;
        text-align: center;
      }
    }
    .pay {
      .delivery-form {
        .subject {
          width: 100px;
          padding: 5px 0px;
        }
        .form {
          input, textarea {
            width: 75%;
          }
        }
      }
      .summary {
        .price, .sum {
          font-size: 15px;
        }
      }
      .method label {
        display: block;
      }
    }
  }
}
