.project-view {
  .seemore {
    text-align: center;
    padding-top: 20px;
    > button {
      width: 85px;
      height: 35px;
      background-color: #fff;
      border: 1px solid #333a40;
      color: #404040;
      border-radius: 3px;
      font-weight: bold;
      &:hover {
        background-color: #333a40;
        color: #fff;
      }
    }
  }
  .dark-btn {
    font-size: 15px;
    background-color: #333a40;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #333a40;
    &:HOVER {
      text-decoration: none;
      cursor: pointer;
    }
  }
  .header {
    .left-area {
      padding-left: 0px;
      padding-right: 0px;
      .project-image-bg {
        width: 100%;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        @media all and(max-width: $break-xs - 1) {
          background-size: cover;
        }
        @media all and(min-width: $break-xs) {
          background-size: cover;
        }
      }
      .play-video {
        height: 200px;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
        .play-btn {
          width: 25%;
          position: absolute;
          top: 15%;
          left: 35%;
        }
      }
      .desc {
        padding: 0px;
        font-size: 15px;
        line-height: 20px;
        color: #595959;
        margin: 30px;
        .desc-subtitle {
          color: $vermilion;
          font-size: 20pt;
          margin-bottom: 25px;
        }
      }
    }
    .right-area {
      background-color: #f7f9fa;
      padding: 10px 15px;
      border: 1px solid $wild_sand;
      .working {
        text-align: right;
        > img {
          width: 74px;
          height: 30px;
          margin-right: -22px;
        }
      }
      .goal {
        color: #404040;
        font-weight: bold;
      }
      .progress_bar {
        margin: 10px 0;
        width: 100%;
        height: 10px;
        border-radius: 7.5px;
        background-color: #e3e5e6;
        > div {
          height: 10px;
          border-radius: 7.5px;
          max-width: 100%;
          background: url('/images/icon/project/progress_bar.gif') repeat-x;
        }
      }
      .large {
        color: #262525;
        font-weight: bold;
        > span {
          font-weight: normal;
        }
      }
      .small {
        color: #404040;
      }
      .term {
        color: #8c8c8c;
      }
      hr {
        border-top: 1px dotted #949596;
      }
    }
    .share-area {
      &.left {
        padding: 15px 0px;
        text-align: right;
        .share-title {
          display: inline-block;
          height: 30px;
          vertical-align: top;
          padding-right: 12px;
        }
      }
      &.right {
        display: none;
        text-align: center;
        border: 1px solid #ececec;
        padding: 10px 0px;
        margin: 15px 0px;
        .share-title {
          border-bottom: 1px solid #ececec;
          padding-bottom: 5px;
          margin-bottom: 15px;
          font-weight: bold;
        }
      }
    }
  }
  .tabmenu {
    background-color: #fff;
    z-index: 999;
    top: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    .menu-area {
      display: table;
      .menu {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #4c4c4c;
        border-left: 1px solid #d9d9d9;
        border-top: 2px solid #656565;
        border-bottom: 1px solid #d9d9d9;
        &.size20 {
          width: 20%;
        }
        &.size25 {
          width: 25%;
        }
        &:last-child {
          border-right: 1px solid #d9d9d9;
        }
        &:hover {
          text-decoration: none;
          color: #ff4800;
          border-top: 1px solid #d9d9d9;
          border-bottom: 2px solid #ff4800;
          cursor: pointer;
        }
      }
      .on {
        text-decoration: none;
        color: #ff4800;
        border-top: 1px solid #d9d9d9;
        border-bottom: 2px solid #ff4800;
      }
    }
  }
  .body {
    /*padding:50px 0px;*/
    padding-bottom: 50px;
    word-break: break-all;
    clear: both;
    .left-area {
      border-right: 1px solid #d9d9d9;
      padding: 20px 20px 20px 0px;
      .update {
        /*margin-bottom:30px;*/
        .navi {
          line-height: 40px;
          margin-bottom: 20px;
          > a {
            display: inline-block;
            width: 56px;
            height: 32px;
            text-indent: -999999px;
            cursor: pointer;
            &:hover, &.on {
              background-position: 0px -32px;
            }
            &.off {
              background-position: 0px 0px;
              &:hover {
                cursor: default;
              }
            }
          }
        }
        .no1 {
          background: url(/images/icon/update/update_btn_01.gif) no-repeat 0 0;
        }
        .no2 {
          background: url(/images/icon/update/update_btn_02.gif) no-repeat 0 0;
        }
        .no3 {
          background: url(/images/icon/update/update_btn_03.gif) no-repeat 0 0;
        }
        .no4 {
          background: url(/images/icon/update/update_btn_04.gif) no-repeat 0 0;
        }
        .no5 {
          background: url(/images/icon/update/update_btn_05.gif) no-repeat 0 0;
        }
        .no6 {
          background: url(/images/icon/update/update_btn_06.gif) no-repeat 0 0;
        }
        .no7 {
          background: url(/images/icon/update/update_btn_07.gif) no-repeat 0 0;
        }
        .no8 {
          background: url(/images/icon/update/update_btn_08.gif) no-repeat 0 0;
        }
        .no9 {
          background: url(/images/icon/update/update_btn_09.gif) no-repeat 0 0;
        }
        .no10 {
          background: url(/images/icon/update/update_btn_10.gif) no-repeat 0 0;
        }
        .no11 {
          background: url(/images/icon/update/update_btn_11.gif) no-repeat 0 0;
        }
        .no12 {
          background: url(/images/icon/update/update_btn_12.gif) no-repeat 0 0;
        }
        .no13 {
          background: url(/images/icon/update/update_btn_13.gif) no-repeat 0 0;
        }
        .no14 {
          background: url(/images/icon/update/update_btn_14.gif) no-repeat 0 0;
        }
        .no15 {
          background: url(/images/icon/update/update_btn_15.gif) no-repeat 0 0;
        }
        .no16 {
          background: url(/images/icon/update/update_btn_16.gif) no-repeat 0 0;
        }
        .no17 {
          background: url(/images/icon/update/update_btn_17.gif) no-repeat 0 0;
        }
        .no18 {
          background: url(/images/icon/update/update_btn_18.gif) no-repeat 0 0;
        }
        .no19 {
          background: url(/images/icon/update/update_btn_19.gif) no-repeat 0 0;
        }
        .no20 {
          background: url(/images/icon/update/update_btn_20.gif) no-repeat 0 0;
        }
        .no21 {
          background: url(/images/icon/update/update_btn_21.gif) no-repeat 0 0;
        }
        .no22 {
          background: url(/images/icon/update/update_btn_22.gif) no-repeat 0 0;
        }
        .no23 {
          background: url(/images/icon/update/update_btn_23.gif) no-repeat 0 0;
        }
        .no24 {
          background: url(/images/icon/update/update_btn_24.gif) no-repeat 0 0;
        }
        .no25 {
          background: url(/images/icon/update/update_btn_25.gif) no-repeat 0 0;
        }
        .no26 {
          background: url(/images/icon/update/update_btn_26.gif) no-repeat 0 0;
        }
        .no27 {
          background: url(/images/icon/update/update_btn_27.gif) no-repeat 0 0;
        }
        .no28 {
          background: url(/images/icon/update/update_btn_28.gif) no-repeat 0 0;
        }
        .no29 {
          background: url(/images/icon/update/update_btn_29.gif) no-repeat 0 0;
        }
        .no30 {
          background: url(/images/icon/update/update_btn_30.gif) no-repeat 0 0;
        }
        .no31 {
          background: url(/images/icon/update/update_btn_31.gif) no-repeat 0 0;
        }
        .no32 {
          background: url(/images/icon/update/update_btn_32.gif) no-repeat 0 0;
        }
        .no33 {
          background: url(/images/icon/update/update_btn_33.gif) no-repeat 0 0;
        }
        .no34 {
          background: url(/images/icon/update/update_btn_34.gif) no-repeat 0 0;
        }
        .no35 {
          background: url(/images/icon/update/update_btn_35.gif) no-repeat 0 0;
        }
        .no36 {
          background: url(/images/icon/update/update_btn_36.gif) no-repeat 0 0;
        }
        .no37 {
          background: url(/images/icon/update/update_btn_37.gif) no-repeat 0 0;
        }
        .no38 {
          background: url(/images/icon/update/update_btn_38.gif) no-repeat 0 0;
        }
        .no39 {
          background: url(/images/icon/update/update_btn_39.gif) no-repeat 0 0;
        }
        .no40 {
          background: url(/images/icon/update/update_btn_40.gif) no-repeat 0 0;
        }
        .coming_soon {
          text-align: center;
          font-weight: bold;
          line-height: 40px;
          padding: 10px 0 50px 0px;
        }
      }
      .comments {
        table {
          width: 100%;
          margin: 10px 0px;
          .title {
            padding-bottom: 5px;
            color: #404040;
            font-size: 16px;
            font-weight: bold;
          }
          .info {
            padding-bottom: 5px;
            color: #8c8c8c;
            font-size: 12px;
            text-align: right;
            vertical-align: bottom;
          }
          td:last-child {
            width: 100px;
          }
          textarea {
            width: 100%;
            height: 100px;
            max-width: 100%;
            vertical-align: top;
            padding: 5px;
          }
          button {
            width: 100%;
            height: 100px;
            font-size: 16px;
            font-weight: bold;
            color: #ff4800;
            /*background-color:#ebebeb;border:1px solid #8c8c8c;box-shadow:1px 1px 1px #000;*/
          }
          .require-login {
            font-size: 16px;
            color: #595959;
            padding: 20px 0px;
            border: 1px solid #a9a9a9;
            text-align: center;
          }
        }
        .section {
          border-bottom: 1px dotted #eeeeee;
          padding: 15px 0px;
          .profile-area {
            display: table-cell;
            vertical-align: top;
            padding-right: 15px;
            > img {
              width: 50px;
              height: 50px;
            }
          }
          .comment-area {
            display: table-cell;
            vertical-align: top;
            font-size: 14px;
            color: #595959;
            width: 100%;
            word-break: break-all;

            .comment-body {
              white-space: pre-wrap;
            }

            .writer {
              padding: 5px 0px;
              > span:first-child {
                font-size: 16px;
                color: #404040;
                font-weight: bold;
                padding-right: 5px;
              }
            }
            .replay {
              padding: 5px 15px 10px 15px;
              background-color: #f8f8f8;
              margin-top: 10px;
            }
          }
        }
      }
      .creator {
        table-layout: fixed;
        border-top: 3px solid #333333;
        border-bottom: 3px solid #333333;
        width: 100%;
        tr {
          border-bottom: 1px solid #a6a6a6;
        }
        th {
          width: 30%;
          vertical-align: middle;
          text-align: center;
          background-color: #f5f8fa;
          color: #333a40;
        }
        td {
          vertical-align: middle;
          width: 70%;
          color: #595959;
          border-left: 1px solid #a6a6a6;
          padding: 25px 0px 25px 10px;
        }
        img {
          max-width: 100%;
        }
      }
    }
    .right-area {
      margin-left: -10px;
      .reward {
        font-size: 14px;
        color: #4c4c4c;
        border: 1px solid #ebebeb;
        background-color: #ffffff;
        margin-bottom: 10px;
        padding: 20px 15px;
        hr {
          border-top: 1px dotted #949596;
        }
        .amount {
          color: #8c8c8c;
          font-size: 12px;
          margin-top: -10px;
          margin-bottom: 10px;
        }
        .large {
          color: #262525;
          font-size: 30px;
          font-weight: bold;
          > span {
            font-size: 14px;
            font-weight: normal;
          }
        }
        .status {
          text-align: right;
          margin-top: -30px;
        }
        .reward-text {
          word-break: break-word;
        }
        .small {
          color: #8c8c8c;
          font-size: 12px;
        }
        &.enable:HOVER {
          border: 1px solid #ff4800;
          cursor: pointer;
          .large {
            color: #ff4800;
          }
        }
        &.disable {
          color: #d9d9d9;
          /*height:80px;overflow: hidden;*/
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .project-view .header {
    padding: 25px 0px 0px 0px;
    .top-area {
      margin-bottom: 10px;
      padding: 25px 0px;
      font-size: 35px;
      text-align: center;
      font-weight: bold;
    }
  }
}

@media all and (max-width: 767px) {
  .project-view .header .top-area {
    padding: 25px 0px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }
}

@media all and (min-width: 992px) {
  .project-view .header .right-area {
    padding: 15px 15px;
    margin-left: -10px;
    .goal {
      font-size: 20px;
    }
    .large {
      font-size: 30px;
      > span {
        font-size: 16px;
      }
    }
    .collect {
      .large {
        font-size: 40px;
        > span {
          font-size: 16px;
        }
      }
    }
    .backers {
      .large {
        font-size: 30px;
        > span {
          font-size: 16px;
        }
      }
    }
    .small {
      font-size: 14px;
      padding-top: 10px;
    }
    .term {
      font-size: 15px;
      font-weight: 100;
    }
    .button {
      height: 50px;
      padding: 10px 0px 20px 0px;
      font-weight: 100;
      margin-top: 10px;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /*.project-view .header .right-area { margin:10px 0px; }*/
  .project-view .header .right-area {
    margin-left: -10px;
    .goal {
      font-size: 14px;
    }
    .large {
      font-size: 18px;
      > span {
        font-size: 16px;
      }
    }
    .small {
      font-size: 13px;
      padding-top: 5px;
    }
    .term {
      font-size: 13px;
    }
    .button {
      padding-bottom: 10px;
    }
  }
}

@media all and (max-width: 767px) {
  .project-view .header {
    .share-area {
      &.left {
        display: none;
      }
      &.right {
        display: block;
      }
    }
    .right-area {
      margin: 10px 0px;
      .large {
        font-size: 16px;
      }
      .small {
        padding-top: 10px;
      }
      .button {
        padding-bottom: 10px;
      }
      .collect {
        display: inline-block;
        width: 68%;
        text-align: left;
      }
      .backers {
        display: inline-block;
        width: 30%;
        text-align: right;
      }
    }
  }
}

/** Update **/

@media all and (min-width: 768px) {
  .project-view .body .left-area .update .share-area {
    border-top: 1px solid #333333;
    margin-top: 30px;
    text-align: right;
    padding-top: 10px;
    /*height: 30px;*/
    .share-title-txt {
      display: none;
    }
    .share-title-img {
      display: inline-block;
      height: 30px;
      vertical-align: top;
      padding-right: 15px;
      text-indent: -999999px;
    }
  }
}

@media all and (max-width: 767px) {
  .project-view .body .left-area .update .share-area {
    text-align: center;
    /*border: 1px solid #ececec;*/
    padding: 10px 0px;
    margin: 15px 0px;
    background-color: #f7f9fa;
    .share-title-txt {
      display: block;
      border-bottom: 1px solid #ececec;
      padding-bottom: 5px;
      margin-bottom: 15px;
      font-weight: bold;
    }
    .share-title-img {
      display: none;
    }
  }
}

/** POLL **/
/** Comnetnts **/

/** Creator **/

@media all and (min-width: 992px) {
  .project-view {
    .tabmenu .menu {
      font-size: 14px;
      font-weight: bold;
      height: 50px;
      line-height: 50px;
    }
    .body .left-area .creator {
      th {
        font-size: 16px;
      }
      td {
        font-size: 14px;
      }
    }
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .project-view {
    .tabmenu .menu {
      font-size: 12px;
      height: 40px;
      line-height: 40px;
    }
    .body .left-area .creator {
      th {
        font-size: 16px;
      }
      td {
        font-size: 14px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .project-view {
    .tabmenu .menu-area .menu {
      font-size: 12px;
      height: 46px;
      > span {
        display: block;
      }
    }
    .body {
      .left-area {
        padding: 20px 0px 20px 0px;
        .update .share-area {
          text-align: center;
        }
        .comments {
          table {
            .require-login {
              font-size: 14px;
            }
            td:last-child {
              width: 70px;
            }
            textarea {
              height: 70px;
            }
            button {
              height: 70px;
              font-size: 14px;
            }
          }
          .section {
            padding: 10px 0px;
            .profile-area {
              padding-right: 10px;
              > img {
                width: 35px;
                height: 35px;
              }
            }
            .comment-area {
              font-size: 12px;
              .comment-body {
                white-space: pre-wrap;
              }
              .writer {
                padding: 10px 0px;
                > span:first-child {
                  font-size: 13px;
                  font-weight: bold;
                  padding-right: 5px;
                }
              }
              .replay {
                padding: 0px 10px 5px 10px;
                background-color: #f8f8f8;
                margin-top: 5px;
              }
            }
          }
        }
      }
      .right-area .reward {
        display: none;
      }
    }
    .header .container, .tabmenu .container, .body .container {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
