.reveal-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}
.reveal-mask-light {
  position: absolute;
  color: #fff;
  background-color: #efefef;
  background-repeat: no-repeat;
  height: 100%;
  opacity: 0.8;
  width: 100%;
}
.reveal-mask-dark {
  position: absolute;
  color: #fff;
  background-color: #efefef;
  background-repeat: no-repeat;
  height: 100%;
  opacity: 0.8;
  width: 100%;
}
.reveal-image {
  width: 100%;
  height: auto;
  z-index: -1;
}
.reveal-message-container {
  position: absolute;
  @media all and(max-width: $break-xs - 1) {
    font-size: 14px;
  }
  @media all and(min-width: $break-xs) {
    font-size: 27px;
  }
  top: 40%;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.reveal-message {
  position: relative;
  color: $oil;
  opacity: 0;
  text-shadow: 1.5px 1.5px $gray;
}
