@mixin share-icon($sns,$bg_pos_x,$bg_pos_y) {
  .share-#{$sns}-icon {
    background-image: $sns_spritesheet;
    background-size: 100%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: $bg_pos_x $bg_pos_y;
    display: inline-block;
    @media all and(max-width: $break-xs - 1) {
      height: 30px;
      width: 30px;
      margin-left: 5px;
    }
    @media all and(min-width: $break-xs) {
      height: 35px;
      width: 35px;
      margin-left: 5px;
    }
  }
}

@include share-icon('ameblo',0,6.25%);
@include share-icon('baidu',0,12.6%);
@include share-icon('facebook',0,25%);
@include share-icon('google',0,31.25%);
@include share-icon('hatena',0,37.5%);
@include share-icon('kakao-story',0,43.75%);
@include share-icon('mixi',0,56.25%);
@include share-icon('naver-band',0,18.75%);
@include share-icon('naver-line',0,50%);
@include share-icon('pinterest',0,62.5%);
@include share-icon('qq',0,68.75%);
@include share-icon('qzone',0,75%);
@include share-icon('reddit',0,81.25%);
@include share-icon('sina',0,87.5%);
@include share-icon('tencent',0,93.75%);
@include share-icon('twitter',0%,0%);
@include share-icon('wechat',0, 100%);

.share-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $pure-white;

  @media all and(min-width: $break-xs) {
    border-bottom: 1px solid $mercury;
    border-left: none;
    border-right: none;
    height: 55px;
  }
}

.official-sns-facebook, .official-sns-instagram, .official-sns-naver, .official-sns-twitter, .official-sns-weibo, .official-sns-youtube { max-width: 100%; background-size: 100%; background-image: $official_sns_spritesheet; }

.official-sns-facebook { background-position: 0 0%; background-size: 100%; }
.official-sns-instagram { background-position: 0 20%; background-size: 100%; }
.official-sns-naver { background-position: 0 40%; background-size: 100%; }
.official-sns-twitter { background-position: 0 60%; background-size: 100%; }
.official-sns-weibo { background-position: 0 80%; background-size: 100%; }
.official-sns-youtube { background-position: 0 100%; background-size: 100%; }
