.star-message {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  .title {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 40px;
  }
  .embed {
    padding-bottom: 10px;
    height: 237.5px;
    img {
      width: 100%;
      height: 100%;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    > div:last-child {
      font-weight: bold;
      padding: 5px 0px;
      font-size: 15px;
    }
  }
  .star-message-thumbnails {
    margin-top: 40px;
  }
}
