.text-pure-black {
  color: $pure_black;
}
.text-scorpion {
  color: $scorpion;
}
.text-gray {
  color: $gray;
}
.text-bold {
  font-weight: bold;
}
.text-normal {
  font-weight: normal;
}
.text-9 {
  font-size: 9px;
}
.text-10 {
  font-size: 10px;
}
.text-14 {
  font-size: 14px;
}
.text-20 {
  font-size: 20px;
}
