.top-notice {
  text-align: center;
  height: 70px;
}

.top-notice-button-container {
  display: inline-block;
  margin-top: 20px;
  padding-left: 30px;
}

.top-notice-text-container {
  display: inline-block;
  padding-top: 17px;
}

.top-notice-text {
  font-size: 27px;
  display: inline-block;
  padding-left: 15px;
}

.top-notice-icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
  padding-top: 10px;
}
