.profile {
  background-color: $alabaster;
  color: $mine_shaft;
  .page-title {
    font-weight: bold;
    padding-bottom: 10px;
  }
  .page-desc {
    color: $scorpion;
    padding-bottom: 15px;
    font-weight: bold;
  }
  .form-box {
    max-width: 500px;
    border: solid 1px $mercury;
    border-radius: 10px;
    background: $pure_white;
    text-align: left;
  }
}

@media all and (min-width: 768px) {
  .profile {
    padding: 30px 0px 50px 0px;
    .page-title {
      font-size: 40px;
    }
    .page-desc {
      font-size: 14px;
    }
    .form-box {
      padding: 30px 20px;
      font-size: 14px;
      .media-body > div {
        font-size: 16px;
        padding-bottom: 15px;
        > label {
          font-weight: bold;
          margin: 0px;
          width: 80px;
          text-align: right;
          &:after {
            content: ':';
            padding-left: 5px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .profile {
    padding: 20px 0px 40px 0px;
    .page-title {
      font-size: 30px;
    }
    .page-desc {}
    .form-box {
      padding: 20px 10px;
      .nav-tabs a {
        padding: 10px 10px;
        font-size: 12px;
      }
      .media-body > div {
        font-size: 13px;
        padding-bottom: 15px;
        > label {
          font-weight: bold;
          margin: 0px;
          &:after {
            content: ':';
            padding-left: 5px;
          }
        }
      }
    }
  }
}
