//black
$pure_black: #000;
$zeus: #1f1913;
$oil: #120e0b;
$dune: #332d28;

//white
$pure_white: #ffffff;
$gallery: #efefef;
$alabaster: #f8f8f8;
$geyser: #dae0e6;
$mercury: #e6e6e6;
$caskill_white: #f5f8fa;
$egg_white: #fff2c6;

//orange + yellow
$orange_peel: #ff9d00;
$vermilion: #ff4800;
$bright_sun: #fedb3c;
$gold: #ffd400;
$international_orange: #ff5a00;
$crusta: #fe7429;
$pumpkin: #ff711b;
$sunset_orange: #f74343;
$outrageous_orange: #ff5134;
$tangerine: #f28300;
$pizazz: #ff8c00;
$peach_orange: #ffcd93;
$flush_orange: #ff7701;
$orange1: #f89d05;

//grey
$armadillo: #4c4742;
$armadillo2: #4c4c4c;
$mine_shaft: #333333;
$scorpion: #595959;
$gallery: #eaeaea;
$gray: #818181;
$gray11: #777777;
$gray12: #d2d2d2;
$gray13: #212121;
$dove_gray: #737373;
$outer_space: #333a40;
$tundora: #404040;
$silver_chalice: #a9a9a9;
$dusty_gray: #999999;
$cod_gray: #1a1a1a;
$silver: #cccccc;
$oslo_gray: #81868c;
$iron: #d5d7d9;
$nobel: #b3b3b3;
$alto: #d9d9d9;
$wild_sand: #f5f5f5;


//green
$mountain_meadow: #13c490;

//blue
$astral: #337ab7;

//pink
$tonys_pink: #e69f7f;

//etc
$twine: #bf7e4f;
$transparent: rgba(255, 255, 255, 0);
