$ameblo_png: url('/images/icon/share/ameblo.png');
$baidu_png: url('/images/icon/share/baidu.png');
$naver_band_png: url('/images/icon/share/band.png');
$facebook_png: url('/images/icon/share/facebook.png');
$facebook_png2: url('/images/icon/share_facebook2.png');
$google_plus_png: url('/images/icon/share/ggl.png');
$hatena_png: url('/images/icon/share/hatena.png');
$kakao_story_png: url('/images/icon/share/kakaostory.png');
$naver_line_png: url('/images/icon/share/line.png');
$mixi_png: url('/images/icon/share/mixi.png');
$pinterest_png: url('/images/icon/share/pinterest.png');
$qq_png: url('/images/icon/share/qq.png');
$qzone_png: url('/images/icon/share/qzone.png');
$reddit_png: url('/images/icon/share/reddit.png');
$sina_png: url('/images/icon/share/siena.png');
$sina_share_png: url('/images/icon/share_sina.png');
$tencent_png: url('/images/icon/share/tencent.png');
$twitter_png: url('/images/icon/share/twitter.png');
$twitter_png2: url('/images/icon/share_twitter2.png');
$wechat_png: url('/images/icon/share/wechat.png');

$sns_spritesheet: url('/public/images/icon/sns/sns.png');
$official_sns_spritesheet: url('/public/images/icon/sns/official_sns.png');
$cooperation_spritesheet: url('/public/images/icon/index/cooperation.png');
$next_pre_spritesheet: url('/public/images/icon/index/next_pre.png');

//poll
$poll_on_png: url('/public/images/icon/poll/poll_index_ON.png');
$poll_fin_png: url('/public/images/icon/poll/poll_index_FIN.png');
$poll_index_p_png: url('/public/images/icon/poll/poll_index_P.png');
$poll_index_1_png: url('/public/images/icon/poll/poll_index_1.png');
$poll_index_1h_png: url('/public/images/icon/poll/poll_index_1h.png');
$poll_index_6h_png: url('/public/images/icon/poll/poll_index_6h.png');
$poll_index_12h_png: url('/public/images/icon/poll/poll_index_12h.png');
$poll_index_24h_png: url('/public/images/icon/poll/poll_index_24h.png');
$poll_index_fin_png: url('/public/images/icon/poll/poll_index_FIN.png');
$poll_index_v_orange_png: url('/public/images/icon/poll/poll_index_V_orange.png');
$poll_index_v_grey_png: url('/public/images/icon/poll/poll_index_V_grey.png');
$poll_show_date_png: url('/public/images/icon/poll/poll_date.png');
$poll_vote_btn: url('/public/images/icon/poll/vote_btn.png');
$poll_voted_btn: url('/public/images/icon/poll/voted_btn.png');
$poll_rank_1_png: url('/public/images/icon/poll/poll_rank_1.png');
$poll_rank_2_png: url('/public/images/icon/poll/poll_rank_2.png');
$poll_rank_3_png: url('/public/images/icon/poll/poll_rank_3.png');
$poll_vote_count_png: url('/public/images/icon/poll/poll_vote_count.png');

//common
$tag_png: url('/public/images/icon/common/tag.png');
